{% extends "forms/forms-base.html" %}

{% block breadcrumb %}
<div class="container mt-2 mb-0">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb float-end">
            <li class="breadcrumb-item"><a href="{% url "ptkr:index" %}">Home</a></li>
            <li class="breadcrumb-item active">Formulir Satu Lantai</li>
            </ol>
        </div>
    </div>
</div>
{% endblock breadcrumb %}

{% block form-title %}FORMULIR INPUT DATA BANGUNAN SATU LANTAI{% endblock %}

{% block action %} action='{% url "ptkr:satu" %}' {% endblock action %}

{% block plat_lantai_tangga %}{% endblock plat_lantai_tangga %}

{% block step_personal %}
<h2 class="steps">Step 1 - 17</h2>
{% endblock step_personal %}

{% block step_pondasi %}
<h2 class="steps">Step 2 - 17</h2>
{% endblock step_pondasi %}

{% block step_kolom %}
<h2 class="steps">Step 3 - 17</h2>
{% endblock step_kolom %}

{% block step_balok %}
<h2 class="steps">Step 4 - 17</h2>
{% endblock step_balok %}

{% block step_atap %}
<h2 class="steps">Step 5 - 17</h2>
{% endblock step_atap %}

{% block step_dinding %}
<h2 class="steps">Step 6 - 17</h2>
{% endblock step_dinding %}

{% block step_plafon %}
<h2 class="steps">Step 7 - 17</h2>
{% endblock step_plafon %}

{% block step_lantai %}
<h2 class="steps">Step 8 - 17</h2>
{% endblock step_lantai %}

{% block step_kusen %}
<h2 class="steps">Step 9 - 17</h2>
{% endblock step_kusen %}

{% block step_pintu %}
<h2 class="steps">Step 10 - 17</h2>
{% endblock step_pintu %}

{% block step_jendela %}
<h2 class="steps">Step 11 - 17</h2>
{% endblock step_jendela %}

{% block step_fplafon %}
<h2 class="steps">Step 12 - 17</h2>
{% endblock step_fplafon %}

{% block step_fdinding %}
<h2 class="steps">Step 13 - 17</h2>
{% endblock step_fdinding %}

{% block step_fkupin %}
<h2 class="steps">Step 14 - 17</h2>
{% endblock step_fkupin %}

{% block step_instalasi %}
<h2 class="steps">Step 15 - 17</h2>
{% endblock step_instalasi %}

{% block step_drainase %}
<h2 class="steps">Step 16 - 17</h2>
{% endblock step_drainase %}

{% block step_lokasi %}
<h2 class="steps">Step 17 - 17</h2>
{% endblock step_lokasi %}
