{% extends "forms/forms-base.html" %}

{% block breadcrumb %}
<div class="container mt-2 mb-0">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb float-end">
            <li class="breadcrumb-item"><a href="{% url "ptkr:index" %}">Home</a></li>
            <li class="breadcrumb-item active">Formulir Tiga Lantai</li>
            </ol>
        </div>
    </div>
</div>
{% endblock breadcrumb %}

{% block form-title %}FORMULIR INPUT DATA BANGUNAN TIGA LANTAI{% endblock form-title %}

{% block action %} action='{% url "ptkr:tiga" %}' {% endblock action %}