<!--Finishing Dinding/Partisi-->
<div class="col-md-12">
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">Arsitektur - Komponen Finishing Dinding</h3>
        </div>
        <div class="card-body">
            <label class=" ">Apakah ada dari deskripsi dibawah ini yang sesuai untuk mendeskripsikan kondisi atau kerusakan pada komponen finishing dinding rumah Bapak/Ibu? Jiya ada, berikan tanda centang dan sertakan jumlah persentase komponen yang mengalami kerusakan sesuai deskripsi.</label> 
            <!--Kalkulator-->
            <label class="fieldlabels">Gunakan kalkulator berikut untuk mencari nilai persentase kerusakan sesuai deskripsi yang dipilih.</label>
            <div class="row">
                <!--Dinding-->
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="panjang_fdinding">Panjang Dinding (Meter)</label>
                        <input type="number" class="form-control form-control-sm" onkeyup="calcFDinding()" id="panjang_fdinding" placeholder="Masukan panjang dinding" aria-describedby="panjang_fdinding">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="tinggi_fdinding">Tinggi Dinding (Meter)</label>
                        <input type="number" class="form-control form-control-sm" onkeyup="calcFDinding()" id="tinggi_fdinding" placeholder="Masukan tinggi dinding" aria-describedby="tinggi_fdinding">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="luas_fdinding">Luas Dinding</label>
                        <input type="number" class="form-control form-control-sm" id="luas_fdinding" aria-describedby="luas_fdinding" placeholder="Luas Dinding" readonly>
                    </div>
                </div>
                <!--End Dinding-->
            </div>
            <div class="row">
                <!--Pintu-->
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="fd_lebar_pintu">Lebar Pintu (Meter)</label>
                        <input type="number" class="form-control form-control-sm" onkeyup="calcFDinding()" id="fd_lebar_pintu" placeholder="Masukan lebar pintu" aria-describedby="fd_lebar_pintu">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="fd_tinggi_pintu">Tinggi Pintu (Meter)</label>
                        <input type="number" class="form-control form-control-sm" onkeyup="calcFDinding()" id="fd_tinggi_pintu" placeholder="Masukan tinggi pintu" aria-describedby="fd_tinggi_pintu">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="fd_jumlah_pintu">Jumlah Pintu (Unit)</label>
                        <input type="number" class="form-control form-control-sm" onkeyup="calcFDinding()" id="fd_jumlah_pintu" placeholder="Masukan jumlah pintu" aria-describedby="fd_jumlah_pintu">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="fd_luas_pintu">Luas Pintu</label>
                        <input type="number" class="form-control form-control-sm" id="fd_luas_pintu" aria-describedby="fd_luas_pintu" placeholder="Luas Pintu" readonly>
                    </div>
                </div>
                <!--End Pintu-->
            </div>
            <div class="row">
                <!--Jendela-->
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="fd_lebar_jendela">Lebar Jendela (Meter)</label>
                        <input type="number" class="form-control form-control-sm" onkeyup="calcFDinding()" id="fd_lebar_jendela" placeholder="Masukan lebar jendela" aria-describedby="fd_lebar_jendela">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="fd_tinggi_jendela">Tinggi Jendela (Meter)</label>
                        <input type="number" class="form-control form-control-sm" onkeyup="calcFDinding()" id="fd_tinggi_jendela" placeholder="Masukan tinggi jendela" aria-describedby="fd_tinggi_jendela">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="fd_jumlah_jendela">Jumlah Jendela (Unit)</label>
                        <input type="number" class="form-control form-control-sm" onkeyup="calcFDinding()" id="fd_jumlah_jendela" placeholder="Masukan jumlah jendela" aria-describedby="fd_jumlah_jendela">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="fd_luas_jendela">Luas Jendela</label>
                        <input type="number" class="form-control form-control-sm" id="fd_luas_jendela" aria-describedby="fd_luas_jendela" placeholder="Luas jendela" readonly>
                    </div>
                </div>
                <!--End Jendela-->
            </div>
            <div class="row">
                <!--Bidang dinding Rusak-->
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="panjang_fdinding_rusak">Panjang Bidang dinding yang Rusak (Meter)</label>
                        <input type="number" class="form-control form-control-sm" onkeyup="calcFDinding()" id="panjang_fdinding_rusak" placeholder="Masukan panjang Bidang dinding rusak" aria-describedby="panjang Bidang dinding rusak">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="lebar_fdinding_rusak">Lebar Bidang dinding yang Rusak (Meter)</label>
                        <input type="number" class="form-control form-control-sm" onkeyup="calcFDinding()" id="lebar_fdinding_rusak" placeholder="Masukan lebar Bidang dinding rusak" aria-describedby="lebar Bidang dinding rusak">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="luas_fdinding_rusak">Luas Bidang dinding yang Rusak</label>
                        <input type="number" class="form-control form-control-sm" id="luas_fdinding_rusak" aria-describedby="luas_fdinding_rusak" placeholder="Luas bidang dinding yang rusak" readonly>
                    </div>
                </div>
                <!--End Bidang dinding Rusak-->
            </div>
            <div class="row">
                <!--Presentase Kerusakan Dinding-->
                <div class="col-md-8">
                    <label for="kerusakan_fdinding">Presentase kerusakan komponen Finishing Dinding:</label>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <input type="number" class="form-control form-control-sm" id="kerusakan_fdinding" aria-describedby="kerusakan_fdinding" placeholder="Nilai kerusakan komponen">
                        <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-percent"></span>
                        </div>
                        </div>
                        <small>Salin nilai dan isikan pada kolom deskripsi kerusakan yang dipilih.</small>
                    </div>
                </div>
                <!--End Presentase Kerusakan Dinding-->
            </div>           
            <!--End Kalkulator--> 

            <div class="form-check mt-3">
                <input class="form-check-input" type="checkbox" id="fdinding_tr_checked" checked disabled>
                <label class="form-check-label" for="fdinding_tr_checked">
                    Finishing dinding dalam kondisi baik
                </label>
            </div>
            <div class="input-group mb-0">
                <input type="number" min="0" name="fdinding_tr"  id="fdinding_tr"class="form-control form-control-sm" placeholder="Kolom ini terisi otomatis" readonly>
                <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-percent"></span>
                </div>
                </div>
            </div>
            <small class="form-text text-info">Abaikan, kolom ini akan terisi otomatis.</small>
            
            <div class="form-check mt-3">
                <input class="form-check-input" type="checkbox" id="fdinding_rsr_checked" onclick="toggleInputFdinding('fdinding_rsr', 'smallMessageFdindingRsr')">
                <label class="form-check-label" for="fdinding_rsr_checked">
                    Perubahan warna pada sebagian lapisan warna finishing dinding
                </label>
                <span>
                    <a href="#" class="" data-toggle="modal" data-target="#modal_fdinding_rsr">&nbsp;
                        <i class="far fa-eye" style="color: #c0c0c0;" data-toggle="tooltip" data-placement="top" title="Lihat contoh gambar"></i>
                    </a>
                </span>
            </div>
            <div class="input-group mb-0">
                <input type="number" min="0" name="fdinding_rsr" id="fdinding_rsr" class="form-control form-control-sm" onkeyup="calcFDinding()" placeholder="Masukan persentase kerusakan finishing dinding sesuai deskripsi disini" disabled>
                <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-percent"></span>
                </div>
                </div>
            </div>
            <small id="smallMessageFdindingRsr" class="form-text text-danger" style="display:none;"></small>
            
            <div class="form-check mt-3">
                <input class="form-check-input" type="checkbox" id="fdinding_rr_checked" onclick="toggleInputFdinding('fdinding_rr', 'smallMessageFdindingRr')">
                <label class="form-check-label" for="fdinding_rr_checked">
                    Perubahan warna pada lapisan cat dinding semakin meluas
                </label>
                <span>
                    <a href="#" class="" data-toggle="modal" data-target="#modal_fdinding_rr">&nbsp;
                        <i class="far fa-eye" style="color: #c0c0c0;" data-toggle="tooltip" data-placement="top" title="Lihat contoh gambar"></i>
                    </a>
                </span>
            </div>
            <div class="input-group mb-0">
                <input type="number" min="0" name="fdinding_rr"  id="fdinding_rr"class="form-control form-control-sm" onkeyup="calcFDinding()" placeholder="Masukan persentase kerusakan finishing dinding sesuai deskripsi disini" disabled>
                <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-percent"></span>
                </div>
                </div>
            </div>
            <small id="smallMessageFdindingRr" class="form-text text-danger" style="display:none;"></small>
            
            <div class="form-check mt-3">
                <input class="form-check-input" type="checkbox" id="fdinding_rs_checked" onclick="toggleInputFdinding('fdinding_rs', 'smallMessageFdindingRs')">
                <label class="form-check-label" for="fdinding_rs_checked">
                    Plesteran retak sebagian, dan <br>
                    Lapisan cat dinding terkelupas sebagian
                </label>
                <span>
                    <a href="#" class="" data-toggle="modal" data-target="#modal_fdinding_rs">&nbsp;
                        <i class="far fa-eye" style="color: #c0c0c0;" data-toggle="tooltip" data-placement="top" title="Lihat contoh gambar"></i>
                    </a>
                </span>
            </div>
            <div class="input-group mb-0">
                <input type="number" min="0" name="fdinding_rs"  id="fdinding_rs"class="form-control form-control-sm" onkeyup="calcFDinding()" placeholder="Masukan persentase kerusakan finishing dinding sesuai deskripsi disini" disabled>
                <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-percent"></span>
                </div>
                </div>
            </div>
            <small id="smallMessageFdindingRs" class="form-text text-danger" style="display:none;"></small>
            
            <div class="form-check mt-3">
                <input class="form-check-input" type="checkbox" id="fdinding_rb_checked" onclick="toggleInputFdinding('fdinding_rb', 'smallMessageFdindingRb')">
                <label class="form-check-label" for="fdinding_rb_checked">
                    Plesteran terkelupas meluas, dan <br>
                    Lapisan cat terkelupas meluas dan berlumut
                </label>
                <span>
                    <a href="#" class="" data-toggle="modal" data-target="#modal_fdinding_rb">&nbsp;
                        <i class="far fa-eye" style="color: #c0c0c0;" data-toggle="tooltip" data-placement="top" title="Lihat contoh gambar"></i>
                    </a>
                </span>
            </div>
            <div class="input-group mb-0">
                <input type="number" min="0" name="fdinding_rb"  id="fdinding_rb"class="form-control form-control-sm" onkeyup="calcFDinding()" placeholder="Masukan persentase kerusakan finishing dinding sesuai deskripsi disini" disabled>
                <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-percent"></span>
                </div>
                </div>
            </div>
            <small id="smallMessageFdindingRb" class="form-text text-danger" style="display:none;"></small>
            
            <div class="form-check mt-3">
                <input class="form-check-input" type="checkbox" id="fdinding_rsb_checked" onclick="toggleInputFdinding('fdinding_rsb', 'smallMessageFdindingRsb')">
                <label class="form-check-label" for="fdinding_rsb_checked">
                    Plesteran dan lapisan cat terkelupas hampir di seluruh bagian
                </label>
                <span>
                    <a href="#" class="" data-toggle="modal" data-target="#modal_fdinding_rsb">&nbsp;
                        <i class="far fa-eye" style="color: #c0c0c0;" data-toggle="tooltip" data-placement="top" title="Lihat contoh gambar"></i>
                    </a>
                </span>
            </div>
            <div class="input-group mb-0">
                <input type="number" min="0" name="fdinding_rsb" id="fdinding_rsb" class="form-control form-control-sm" onkeyup="calcFDinding()" placeholder="Masukan persentase kerusakan finishing dinding sesuai deskripsi disini" disabled>
                <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-percent"></span>
                </div>
                </div>
            </div>
            <small id="smallMessageFdindingRsb" class="form-text text-danger" style="display:none;"></small>
            
            <div class="form-check mt-3">
                <input class="form-check-input" type="checkbox" id="fdinding_kts_checked" onclick="toggleInputFdinding('fdinding_kts', 'smallMessageFdindingKts')">
                <label class="form-check-label" for="fdinding_kts_checked">
                    Komponen finishing Tidak Sesuai. Material, dimensi, dan konstruksi finishing diindikasi tidak sesuai dengan persyaratan teknis (merujuk pada Rencana Teknis apabila ada, Petunjuk Teknis, dan/atau SNI)
                </label>
            </div>
            <div class="input-group mb-0">
                <input type="number" min="0" name="fdinding_kts" id="fdinding_kts" class="form-control form-control-sm" onkeyup="calcFDinding()" placeholder="Masukan persentase kerusakan finishing dinding sesuai deskripsi disini" disabled>
                <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-percent"></span>
                </div>
                </div>
            </div>
            <small id="smallMessageFdindingKts" class="form-text text-danger" style="display:none;"></small>
        </div>
    </div>
</div>
<!--End Dinding/Partisi-->

<script>
function toggleInputFdinding(inputId, messageId) {
    var input = document.getElementById(inputId);
    var message = document.getElementById(messageId);
    
    input.disabled = !input.disabled;  // Membalikkan status disabled input
    
    // Jika input tidak dinonaktifkan, tampilkan pesan
    if (!input.disabled) {
        message.innerHTML = "* Gunakan kalkulator di atas untuk mengetahui persentase kerusakan.";
        message.style.display = "block"; // Tampilkan pesan di bawah input
    } else {
        message.style.display = "none"; // Sembunyikan pesan saat input dinonaktifkan
    }
}
</script>