<!--Kusen-->
<div class="col-md-12">
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">Arsitektur - Komponen Kusen</h3>
        </div>
        <div class="card-body">
            <label class="" for="j_kusen">Ada berapa jumlah unit kusen pada bangunan rumah Bapak/Ibu?</label> 
            <input type="number" min="1" class="form-control form-control-sm" id="j_kusen" name="j_kusen" placeholder="Masukan jumlah unit kusen dsini" required/> 
            <label class=" mt-3">Apakah ada dari deskripsi dibawah ini yang sesuai untuk mendeskripsikan kondisi atau kerusakan pada komponen kusen rumah Bapak/Ibu? Jiya ada, berikan tanda centang dan sertakan jumlah komponen yang mengalami kerusakan sesuai deskripsi.</label> 
            <div class="form-check mt-2">
                <input class="form-check-input" type="checkbox" id="kusen_tr_checked" onclick="toggleInputKusen('kusen_tr')">
                <label class="form-check-label" for="kusen_tr_checked">
                    Kusen dalam kondisi baik
                </label>
            </div>
            <input type="number" min="0" class="form-control form-control-sm" id="kusen_tr" name="kusen_tr" placeholder="Masukan jumlah unit kusen sesuai deskripsi disini" disabled /> 
            <div class="form-check mt-2">
                <input class="form-check-input" type="checkbox" id="kusen_rsr_checked" onclick="toggleInputKusen('kusen_rsr')">
                <label class="form-check-label" for="kusen_rsr_checked">
                    Perubahan warna / gores / retak pada sebagian kusen
                </label>
                <span>
                    <a href="#" class="" data-toggle="modal" data-target="#modal_kusen_rsr">&nbsp;
                        <i class="far fa-eye" style="color: #c0c0c0;" data-toggle="tooltip" data-placement="top" title="Lihat contoh gambar"></i>
                    </a>
                </span>
            </div>
            <input type="number" min="0" class="form-control form-control-sm" id="kusen_rsr" name="kusen_rsr" placeholder="Masukan jumlah unit kusen sesuai deskripsi disini" disabled /> 
            <div class="form-check mt-2">
                <input class="form-check-input" type="checkbox" id="kusen_rr_checked" onclick="toggleInputKusen('kusen_rr')">
                <label class="form-check-label" for="kusen_rr_checked">
                    (kayu) terlihat lapuk / keropos pada sebagian kecil kusen<br>
                    (aluminium/UPVC) sebagian kecil kusen terlihat retak dan gompal / berlubang akibat benturan
                </label>
                <span>
                    <a href="#" class="" data-toggle="modal" data-target="#modal_kusen_rr">&nbsp;
                        <i class="far fa-eye" style="color: #c0c0c0;" data-toggle="tooltip" data-placement="top" title="Lihat contoh gambar"></i>
                    </a>
                </span>
            </div>
            <input type="number" min="0" class="form-control form-control-sm" id="kusen_rr" name="kusen_rr" placeholder="Masukan jumlah unit kusen sesuai deskripsi disini" disabled /> 
            <div class="form-check mt-2">
                <input class="form-check-input" type="checkbox" id="kusen_rs_checked" onclick="toggleInputKusen('kusen_rs')">
                <label class="form-check-label" for="kusen_rs_checked">
                    (kayu) terlihat lapuk / keropos dan berlubang semakin meluas, adanya sambungan lepas, deformasi/melengkung pada kusen<br>
                    (aluminium/UPVC) terlihat gompal / berlubang terjadi di banyak bagian, sambungan antar batang aluminium mulai terlihat lepas, terjadi deformasi/melengkung
                </label>
                <span>
                    <a href="#" class="" data-toggle="modal" data-target="#modal_kusen_rs">&nbsp;
                        <i class="far fa-eye" style="color: #c0c0c0;" data-toggle="tooltip" data-placement="top" title="Lihat contoh gambar"></i>
                    </a>
                </span>
            </div>
            <input type="number" min="0" class="form-control form-control-sm" id="kusen_rs" name="kusen_rs" placeholder="Masukan jumlah unit kusen sesuai deskripsi disini" disabled /> 
            <div class="form-check mt-2">
                <input class="form-check-input" type="checkbox" id="kusen_rb_checked" onclick="toggleInputKusen('kusen_rb')">
                <label class="form-check-label" for="kusen_rb_checked">
                    (kayu) terlihat lapuk / keropos dan berlubang pada sebagian besar kusen, patah pada sambungan kusen, deformasi/melengkung sehingga daun pintu/jendela tidak dapat menutup <br>
                    (aluminium/UPVC) terlihat sambungan antar batang aluminium terlepas, deformasi/melengkung semakin parah sehingga daun pintu/jendela tidak dapat menutup, terjadi patah atau sobek pada plat aluminium di bagian engsel
                </label>
                <span>
                    <a href="#" class="" data-toggle="modal" data-target="#modal_kusen_rb">&nbsp;
                        <i class="far fa-eye" style="color: #c0c0c0;" data-toggle="tooltip" data-placement="top" title="Lihat contoh gambar"></i>
                    </a>
                </span>
            </div>
            <input type="number" min="0" class="form-control form-control-sm" id="kusen_rb" name="kusen_rb" placeholder="Masukan jumlah unit kusen sesuai deskripsi disini" disabled /> 
            <div class="form-check mt-2">
                <input class="form-check-input" type="checkbox" id="kusen_rsb_checked" onclick="toggleInputKusen('kusen_rsb')">
                <label class="form-check-label" for="kusen_rsb_checked">
                    Kusen dalam kondisi tidak berfungsi menahan daun pintu/jendela akibat akumulasi kerusakan pada sebagian besar kusen
                </label>
                <span>
                    <a href="#" class="" data-toggle="modal" data-target="#modal_kusen_rsb">&nbsp;
                        <i class="far fa-eye" style="color: #c0c0c0;" data-toggle="tooltip" data-placement="top" title="Lihat contoh gambar"></i>
                    </a>
                </span>
            </div>
            <input type="number" min="0" class="form-control form-control-sm" id="kusen_rsb" name="kusen_rsb" placeholder="Masukan jumlah unit kusen sesuai deskripsi disini" disabled /> 
            <div class="form-check mt-2">
                <input class="form-check-input" type="checkbox" id="kusen_kts_checked" onclick="toggleInputKusen('kusen_kts')">
                <label class="form-check-label" for="kusen_kts_checked">
                    Komponen kusen Tidak Sesuai. Material, dimensi, dan konstruksi kusen diindikasi tidak sesuai dengan persyaratan teknis (merujuk pada Rencana Teknis apabila ada, Petunjuk Teknis, dan/atau SNI). 
                </label>
            </div>
            <input type="number" min="0" class="form-control form-control-sm" id="kusen_kts" name="kusen_kts" placeholder="Masukan jumlah unit kusen sesuai deskripsi disini" disabled /> 
        </div>
    </div>
</div>
<!--End Kusen-->

<script>
function toggleInputKusen(inputId) {
    var input = document.getElementById(inputId);
    input.disabled = !input.disabled;  // Membalikkan status disabled input
}
</script>