<!--Finishing Kusen & Pintu-->
<div class="col-md-12">
    <div class="card card-default">
        <div class="card-header py-1">
            <h5 class="card-title">Arsitektur - Komponen Finishing Kusen & Pintu</h5>
        </div>
        <div class="card-body">
            <label class=" ">Apakah ada dari deskripsi dibawah ini yang sesuai untuk mendeskripsikan kondisi atau kerusakan pada komponen finishing kusen & pintu rumah Bapak/Ibu? Jiya ada, berikan tanda centang dan sertakan jumlah persentase komponen yang mengalami kerusakan sesuai deskripsi.</label> 
            <!--Kalkulator-->
            <label class="fieldlabels">Gunakan kalkulator berikut untuk mencari nilai persentase kerusakan sesuai deskripsi yang dipilih. Ikuti panduan pada gambar ini.</label>
            <span>
                <a href="#" class="" data-bs-toggle="modal" data-bs-target="#modal_Finishing_calc">&nbsp;
                    <i class="far fa-eye" style="color: #c0c0c0;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Lihat gambar panduan"></i>
                </a>
            </span>
            <div class="row">
                <!--Kusen Pintu-->
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="tinggi_kupin">Tinggi Kusen Pintu (CM)</label>
                        <input type="number" class="form-control form-control-sm" onkeyup="calcFKupin()" id="tinggi_kupin" placeholder="Masukan Tinggi Kusen Pintu" aria-describedby="tinggi_kupin">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="jpv_kusen_pintu">Jumlah Penampang Vertikal </label>
                        <input type="number" class="form-control form-control-sm" onkeyup="calcFKupin()" id="jpv_kusen_pintu" placeholder="Penampang Kusen Pintu Vertikal" aria-describedby="jpv_kusen_pintu">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="panjang_kupin">Panjang Kusen Pintu (CM)</label>
                        <input type="number" class="form-control form-control-sm" onkeyup="calcFKupin()" id="panjang_kupin" placeholder="Masukan Panjang Kusen Pintu" aria-describedby="panjang_kupin">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="jph_kusen_pintu">Jumlah Penampang Horizontal </label>
                        <input type="number" class="form-control form-control-sm" onkeyup="calcFKupin()" id="jph_kusen_pintu" placeholder="Penampang Kusen Pintu Horizontal" aria-describedby="jph_kusen_pintu">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="ukuran_balok">Ukuran Balok Kusen (CM) </label>
                        <input type="number" class="form-control form-control-sm" onkeyup="calcFKupin()" id="tebal_balok_kupin" placeholder="Tebal Ukuran Kusen" aria-describedby="ukuran_balok">
                        <input type="number" class="form-control form-control-sm" onkeyup="calcFKupin()" id="lebar_balok_kupin" placeholder="Lebar Ukuran Kusen" aria-describedby="ukuran_balok">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="volume_kupin">Volume Kusen Pintu</label>
                        <input type="number" class="form-control form-control-sm" id="volume_kupin" aria-describedby="volume_kupin" placeholder="Volume Kusen Pintu" readonly>
                    </div>
                </div>
                <!--End Kusen Pintu-->
            </div>
            <div class="row">
                <!--Kusen Jendela-->
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="tinggi_kujen">Tinggi Kusen Jendela (CM)</label>
                        <input type="number" class="form-control form-control-sm" onkeyup="calcFKupin()" id="tinggi_kujen" placeholder="Masukan Tinggi Kusen Jendela" aria-describedby="tinggi_kujen">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="jpv_kusen_jendela">Jumlah Penampang Vertikal </label>
                        <input type="number" class="form-control form-control-sm" onkeyup="calcFKupin()" id="jpv_kusen_jendela" placeholder="Penampang Kusen Pintu Horizontal" aria-describedby="jpv_kusen_jendela">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="panjang_kujen">Panjang Kusen Jendela (CM)</label>
                        <input type="number" class="form-control form-control-sm" onkeyup="calcFKupin()" id="panjang_kujen" placeholder="Masukan Panjang Kusen Jendela" aria-describedby="panjang_kujen">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="jph_kusen_jendela">Jumlah Penampang Horizontal </label>
                        <input type="number" class="form-control form-control-sm" onkeyup="calcFKupin()" id="jph_kusen_jendela" placeholder="Penampang Kusen Pintu Horizontal" aria-describedby="jph_kusen_jendela">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="ukuran_balok">Ukuran Balok Kusen (CM) </label>
                        <input type="number" class="form-control form-control-sm" onkeyup="calcFKupin()" id="tebal_balok_kujen" placeholder="Tebal Ukuran Kusen" aria-describedby="ukuran_balok">
                        <input type="number" class="form-control form-control-sm" onkeyup="calcFKupin()" id="lebar_balok_kujen" placeholder="Lebar Ukuran Kusen" aria-describedby="ukuran_balok">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="volume_kujen">Volume Kusen Jendela</label>
                        <input type="number" class="form-control form-control-sm" id="volume_kujen" aria-describedby="volume_kujen" placeholder="Volume Kusen Jendela" readonly>
                    </div>
                </div>
                <!--End Kusen Jendela-->
            </div>
            <div class="row">
                <!--Pintu-->
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="fk_tinggi_pintu">Tinggi Pintu (CM)</label>
                        <input type="number" class="form-control form-control-sm" onkeyup="calcFKupin()" id="fk_tinggi_pintu" placeholder="Masukan Tinggi Pintu" aria-describedby="fk_tinggi_pintu">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="fk_lebar_pintu">Lebar Pintu (CM)</label>
                        <input type="number" class="form-control form-control-sm" onkeyup="calcFKupin()" id="fk_lebar_pintu" placeholder="Masukan lebar Pintu" aria-describedby="fk_lebar_pintu">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="fk_tebal_pintu">Tebal Pintu (CM)</label>
                        <input type="number" class="form-control form-control-sm" onkeyup="calcFKupin()" id="fk_tebal_pintu" placeholder="Masukan lebar Pintu" aria-describedby="fk_tebal_pintu">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="fk_jumlah_pintu">Jumlah Pintu </label>
                        <input type="number" class="form-control form-control-sm" onkeyup="calcFKupin()" id="fk_jumlah_pintu" placeholder="Masukan Jumlah Pintu" aria-describedby="fk_jumlah_pintu">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="fk_volume_pintu">Volume Pintu</label>
                        <input type="number" class="form-control form-control-sm" id="fk_volume_pintu" aria-describedby="fk_volume_pintu" placeholder="Volume Pintu" readonly>
                    </div>
                </div>
                <!--End Pintu-->
            </div>
            <div class="row">
                <!--Bidang FKupin Rusak-->
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="panjang_fkupin_rusak">Panjang Bidang Finishing yang Rusak (CM)</label>
                        <input type="number" class="form-control form-control-sm" onkeyup="calcFKupin()" id="panjang_fkupin_rusak" placeholder="Masukan panjang Bidang FKupin Rusak" aria-describedby="panjang Bidang FKupin Rusak">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="lebar_fkupin_rusak">Lebar Bidang Finishing yang Rusak (CM)</label>
                        <input type="number" class="form-control form-control-sm" onkeyup="calcFKupin()" id="lebar_fkupin_rusak" placeholder="Masukan lebar Bidang FKupin Rusak" aria-describedby="lebar Bidang FKupin Rusak">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="luas_fkupin_rusak">Luas Bidang Finishing yang Rusak</label>
                        <input type="number" class="form-control form-control-sm" id="luas_fkupin_rusak" aria-describedby="luas_fkupin_rusak" placeholder="Volume bidang Finishing yang rusak" readonly>
                    </div>
                </div>
                <!--End Bidang FKupin Rusak-->
            </div>
            <div class="row">
                <!--Persentase Kerusakan FKupin-->
                <div class="col-md-8">
                    <label for="kerusakan_fkupin">Presentase kerusakan komponen Finishing:</label>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <input type="number" class="form-control form-control-sm" id="kerusakan_fkupin" aria-describedby="kerusakan_fkupin" placeholder="Nilai kerusakan komponen">
                        <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-percent"></span>
                        </div>
                        </div>
                        <small>Salin nilai dan isikan pada kolom deskripsi kerusakan yang dipilih.</small>
                    </div>
                </div>
                <!--End Persentase Kerusakan FKupin-->
            </div>           
            <!--End Kalkulator--> 

            <div class="form-check mt-3">
                <input class="form-check-input" type="checkbox" id="fkupin_tr_checked" checked disabled>
                <label class="form-check-label" for="fkupin_tr_checked">
                    Finishing kusen & pintu dalam kondisi baik
                </label>
            </div>
            <div class="input-group mb-0">
                <input type="number" name="fkupin_tr"  id="fkupin_tr"class="form-control form-control-sm" placeholder="Kolom ini terisi otomatis" readonly>
                <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-percent"></span>
                </div>
                </div>
            </div>
            <small class="form-text text-info">Abaikan, kolom ini akan terisi otomatis.</small>
            
            <div class="form-check mt-3">
                <input class="form-check-input" type="checkbox" id="fkupin_rsr_checked" onclick="toggleInputFkupin('fkupin_rsr', 'smallMessageFkupinRsr')">
                <label class="form-check-label" for="fkupin_rsr_checked">
                    Perubahan warna pada sebagian lapisan warna finishing kusen & pintu
                </label>
                <span>
                    <a href="#" class="" data-bs-toggle="modal" data-bs-target="#modal_fkupin_rsr">&nbsp;
                        <i class="far fa-eye" style="color: #c0c0c0;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Lihat contoh gambar"></i>
                    </a>
                </span>
            </div>
            <div class="input-group mb-0">
                <input type="number" name="fkupin_rsr" id="fkupin_rsr" class="form-control form-control-sm" onkeyup="calcFKupin()" placeholder="Masukan persentase kerusakan finishing kusen & pintu sesuai deskripsi disini" disabled>
                <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-percent"></span>
                </div>
                </div>
            </div>
            <small id="smallMessageFkupinRsr" class="form-text text-danger" style="display:none;"></small>
            
            <div class="form-check mt-3">
                <input class="form-check-input" type="checkbox" id="fkupin_rr_checked" onclick="toggleInputFkupin('fkupin_rr', 'smallMessageFkupinRr')">
                <label class="form-check-label" for="fkupin_rr_checked">
                    Perubahan warna pada lapisan cat kusen & pintu semakin meVolume
                </label>
                <span>
                    <a href="#" class="" data-bs-toggle="modal" data-bs-target="#modal_fkupin_rr">&nbsp;
                        <i class="far fa-eye" style="color: #c0c0c0;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Lihat contoh gambar"></i>
                    </a>
                </span>
            </div>
            <div class="input-group mb-0">
                <input type="number" name="fkupin_rr"  id="fkupin_rr"class="form-control form-control-sm" onkeyup="calcFKupin()" placeholder="Masukan persentase kerusakan finishing kusen & pintu sesuai deskripsi disini" disabled>
                <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-percent"></span>
                </div>
                </div>
            </div>
            <small id="smallMessageFkupinRr" class="form-text text-danger" style="display:none;"></small>
            
            <div class="form-check mt-3">
                <input class="form-check-input" type="checkbox" id="fkupin_rs_checked" onclick="toggleInputFkupin('fkupin_rs', 'smallMessageFkupinRs')">
                <label class="form-check-label" for="fkupin_rs_checked">
                    Lapisan cat kusen & pintu terkelupas sebagian
                </label>
                <span>
                    <a href="#" class="" data-bs-toggle="modal" data-bs-target="#modal_fkupin_rs">&nbsp;
                        <i class="far fa-eye" style="color: #c0c0c0;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Lihat contoh gambar"></i>
                    </a>
                </span>
            </div>
            <div class="input-group mb-0">
                <input type="number" name="fkupin_rs"  id="fkupin_rs"class="form-control form-control-sm" onkeyup="calcFKupin()" placeholder="Masukan persentase kerusakan finishing kusen & pintu sesuai deskripsi disini" disabled>
                <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-percent"></span>
                </div>
                </div>
            </div>
            <small id="smallMessageFkupinRs" class="form-text text-danger" style="display:none;"></small>
            
            <div class="form-check mt-3">
                <input class="form-check-input" type="checkbox" id="fkupin_rb_checked" onclick="toggleInputFkupin('fkupin_rb', 'smallMessageFkupinRb')">
                <label class="form-check-label" for="fkupin_rb_checked">
                    Lapisan cat kusen & pintu terlihat terkelupas meVolume
                </label>
                <span>
                    <a href="#" class="" data-bs-toggle="modal" data-bs-target="#modal_fkupin_rb">&nbsp;
                        <i class="far fa-eye" style="color: #c0c0c0;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Lihat contoh gambar"></i>
                    </a>
                </span>
            </div>
            <div class="input-group mb-0">
                <input type="number" name="fkupin_rb"  id="fkupin_rb"class="form-control form-control-sm" onkeyup="calcFKupin()" placeholder="Masukan persentase kerusakan finishing kusen & pintu sesuai deskripsi disini" disabled>
                <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-percent"></span>
                </div>
                </div>
            </div>
            <small id="smallMessageFkupinRb" class="form-text text-danger" style="display:none;"></small>
            
            <div class="form-check mt-3">
                <input class="form-check-input" type="checkbox" id="fkupin_rsb_checked" onclick="toggleInputFkupin('fkupin_rsb', 'smallMessageFkupinRsb')">
                <label class="form-check-label" for="fkupin_rsb_checked">
                    Lapisan cat kusen & pintu terkelupas hampir di seluruh bagian
                </label>
                <span>
                    <a href="#" class="" data-bs-toggle="modal" data-bs-target="#modal_fkupin_rsb">&nbsp;
                        <i class="far fa-eye" style="color: #c0c0c0;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Lihat contoh gambar"></i>
                    </a>
                </span>
            </div>
            <div class="input-group mb-0">
                <input type="number" name="fkupin_rsb" id="fkupin_rsb" class="form-control form-control-sm" onkeyup="calcFKupin()" placeholder="Masukan persentase kerusakan finishing kusen & pintu sesuai deskripsi disini" disabled>
                <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-percent"></span>
                </div>
                </div>
            </div>
            <small id="smallMessageFkupinRsb" class="form-text text-danger" style="display:none;"></small>
            
            <div class="form-check mt-3">
                <input class="form-check-input" type="checkbox" id="fkupin_kts_checked" onclick="toggleInputFkupin('fkupin_kts', 'smallMessageFkupinKts')">
                <label class="form-check-label" for="fkupin_kts_checked">
                    Komponen finishing Tidak Sesuai. Material, dimensi, dan konstruksi finishing diindikasi tidak sesuai dengan persyaratan teknis (merujuk pada Rencana Teknis apabila ada, Petunjuk Teknis, dan/atau SNI)
                </label>
            </div>
            <div class="input-group mb-0">
                <input type="number" name="fkupin_kts" id="fkupin_kts" class="form-control form-control-sm" onkeyup="calcFKupin()" placeholder="Masukan persentase kerusakan finishing kusen & pintu sesuai deskripsi disini" disabled>
                <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-percent"></span>
                </div>
                </div>
            </div>
            <small id="smallMessageFkupinKts" class="form-text text-danger" style="display:none;"></small>
        </div>
    </div>
</div>
<!--End Pintu-->

<script>
function toggleInputFkupin(inputId, messageId) {
    var input = document.getElementById(inputId);
    var message = document.getElementById(messageId);
    
    input.disabled = !input.disabled;  // Membalikkan status disabled input
    
    // Jika input tidak dinonaktifkan, tampilkan pesan
    if (!input.disabled) {
        message.innerHTML = "* Gunakan kalkulator di atas untuk mengetahui persentase kerusakan.";
        message.style.display = "block"; // Tampilkan pesan di bawah input
    } else {
        message.style.display = "none"; // Sembunyikan pesan saat input dinonaktifkan
    }
}
</script>