<!-- Modal untuk Preview Gambar -->
<div class="modal fade" id="imagePreviewModal" tabindex="-1" aria-labelledby="imagePreviewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imagePreviewModalLabel">Preview Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!-- Gambar untuk preview -->
             <div class="text-center">
                 <img src="" alt="Preview Gambar" id="imagePreview" class="img-fluid">
             </div>
            <!-- Caption untuk gambar -->
            <p id="imageCaption" class="mt-2 text-center"></p>
        </div>
        </div>
    </div>
</div>