{% load static %}
<!-- Modal untuk Show Gambar -->
<!--Pondasi-->
<div class="modal fade" id="modal_vk_pondasi2" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/pondasi/visual-1.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_vk_pondasi3" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/pondasi/visual-2.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_vk_pondasi4" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/pondasi/visual-3.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_vk_pondasi5" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/pondasi/visual-4.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_vk_pondasi6" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/pondasi/visual-5.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<!--End Pondasi-->
<!--Kolom-->
<div class="modal fade" id="modal_kolom_rsr" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/kolom/visual-1.png' %}" alt="Contoh Gambar" class="img-fluid">
                <img src="{% static './dist/img/bantuan/kolom/visual-2.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_kolom_rr" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/kolom/visual-3.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_kolom_rs" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/kolom/visual-4.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_kolom_rb" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/kolom/visual-5.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_kolom_rsb" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/kolom/visual-6.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<!--End Kolom-->
<!--Balok-->
<div class="modal fade" id="modal_balok_rsr" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/balok/visual-1.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_balok_rr" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/balok/visual-2.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_balok_rs" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/balok/visual-3.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_balok_rb" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/balok/visual-4.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_balok_rsb" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/balok/visual-5.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<!--End Balok-->
<!--Plat Lantai-->
<div class="modal fade" id="modal_plantai_rsr" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/plantai_tangga/visual-1.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_plantai_rr" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/plantai_tangga/visual-2.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_plantai_rs" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/plantai_tangga/visual-3.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_plantai_rb" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/plantai_tangga/visual-4.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<!--End Plat Lantai-->
<!--Atap-->
<div class="modal fade" id="modal_atap_calc" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Panduan menghitung kerusakan Atap</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/atap/panduan.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_atap_rsr" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/atap/visual-1.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_atap_rr" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/atap/visual-2.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_atap_rs" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/atap/visual-3.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_atap_rb" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/atap/visual-4.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_atap_rsb" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/atap/visual-5.png' %}" alt="Contoh Gambar" class="img-fluid">
                <img src="{% static './dist/img/bantuan/atap/visual-6.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<!--End Atap-->

<!--Arsitektur-->
<!--Dinding-->
<div class="modal fade" id="modal_dinding_rsr" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/dinding_partisi/visual-1.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_dinding_rr" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/dinding_partisi/visual-3.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_dinding_rs" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/dinding_partisi/visual-5.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_dinding_rb" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/dinding_partisi/visual-6.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_dinding_rsb" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/dinding_partisi/visual-10.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<!--End Dinding-->
<!--Plafon-->
<div class="modal fade" id="modal_plafon_rsr" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/plafon/visual-1.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_plafon_rr" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/plafon/visual-3.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_plafon_rs" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/plafon/visual-5.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_plafon_rb" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/plafon/visual-7.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_plafon_rsb" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/plafon/visual-10.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<!--End Plafon-->
<!--Lantai-->
<div class="modal fade" id="modal_lantai_rsr" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/lantai/visual-1.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_lantai_rr" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/lantai/visual-2.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_lantai_rs" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/lantai/visual-3.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_lantai_rb" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/lantai/visual-3.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_lantai_rsb" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/lantai/visual-4.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<!--End Lantai-->
<!--Kusen-->
<div class="modal fade" id="modal_kusen_rsr" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/kusen/visual-1.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_kusen_rr" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/kusen/visual-2.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_kusen_rs" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/kusen/visual-3.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_kusen_rb" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/kusen/visual-4.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_kusen_rsb" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/kusen/visual-5.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<!--End Kusen-->
<!--Pintu-->
<div class="modal fade" id="modal_pintu_rsr" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/pintu/visual-1.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_pintu_rr" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/pintu/visual-2.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_pintu_rs" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/pintu/visual-3.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_pintu_rb" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/pintu/visual-4.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_pintu_rsb" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/pintu/visual-5.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<!--End Pintu-->
<!--Jendela-->
<div class="modal fade" id="modal_jendela_rsr" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/jendela/visual-1.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_jendela_rr" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/jendela/visual-5.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_jendela_rs" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/jendela/visual-4.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_jendela_rb" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/jendela/visual-4.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_jendela_rsb" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/jendela/visual-3.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<!--End Jendela-->
<!--Finishing Plafon-->
<div class="modal fade" id="modal_fplafon_rsr" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/finishing/visual-1.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_fplafon_rr" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/finishing/visual-2.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_fplafon_rs" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/finishing/visual-5.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_fplafon_rb" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/finishing/visual-4.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_fplafon_rsb" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/finishing/visual-3.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<!--End Finishing Plafon-->
<!--Finishing Dinding-->
<div class="modal fade" id="modal_fdinding_rsr" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/finishing/visual-6.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_fdinding_rr" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/finishing/visual-7.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_fdinding_rs" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/finishing/visual-9.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_fdinding_rb" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/finishing/visual-9.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_fdinding_rsb" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/finishing/visual-10.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<!--End Finishing Dinding-->
<!--Finishing Kusen & Pintu-->
<div class="modal fade" id="modal_fkupin_rsr" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/finishing/visual-11.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_fkupin_rr" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/finishing/visual-12.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_fkupin_rs" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/finishing/visual-13.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_fkupin_rb" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/finishing/visual-14.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_fkupin_rsb" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/finishing/visual-15.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<!--End Finishing Kusen & Pintu-->

<!--Utilitas-->
<!--Drainase-->
<div class="modal fade" id="modal_drainase_rsr" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/drainase_limbah/visual-1.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_drainase_rs" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/drainase_limbah/visual-2.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_drainase_rb" tabindex="-1" aria-labelledby="imageShowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header py-1">
            <h5 class="modal-title" id="imageShowModalLabel">Contoh Gambar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img src="{% static './dist/img/bantuan/drainase_limbah/visual-3.png' %}" alt="Contoh Gambar" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>
<!--End Drainase-->