<div class="col-md-12 mb-3">
    <div class="card card-default">
        <div class="card-header py-1">
            <h5 class="card-title">Utilitas - Instalasi Listrik</h5>
        </div>
        <div class="card-body">
            <label class="fieldlabels mt-3">Indikasi kerusakan seperti apa yang terjadi pada instalasi listrik?</label>     
            <div class="form-check">
                <input class="form-check-input" type="radio" name="vk_listrik" id="vk_listrik1" value="0.00">
                <label class="form-check-label" for="vk_listrik1">
                    Jaringan listrik diindikasi dalam kondisi baik
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="vk_listrik" id="vk_listrik2" value="0.20">
                <label class="form-check-label" for="vk_listrik2">
                    Sebagian kecil komponen dari panel-panel LP rusak, ada sedikit jalur kabel instalasi shortage, sebagian kecil armature rusak ringan, sehingga biaya perbaikan kurang dari 10% dari biaya instalasi baru
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="vk_listrik" id="vk_listrik3" value="0.35">
                <label class="form-check-label" for="vk_listrik3">
                    Beberapa komponen dari panel-panel LP rusak, sebagian kecil jalur kabel instalasi shortage, sehingga armature rusak ringan, sehingga biaya perbaikan 10-25% dari biaya instalasi baru
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="vk_listrik" id="vk_listrik4" value="0.50">
                <label class="form-check-label" for="vk_listrik4">
                    Beberapa komponen dari panel-panel LP rusak, sebagian kecil jalur kabel instalasi shortage, sehingga armature rusak berat dan ringan, sehingga biaya perbaikan 25-50% dari biaya instalasi baru
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="vk_listrik" id="vk_listrik5" value="0.70">
                <label class="form-check-label" for="vk_listrik5">
                    Sebagian besar komponen panel-panel LP rusak, sebagian besar kabel instalasi shortage, sebagian besar armature rusak, sehingga biaya perbaikan 50-65 % dari instalasi baru
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="vk_listrik" id="vk_listrik6" value="0.85">
                <label class="form-check-label" for="vk_listrik6">
                    Sebagian besar komponen panel-panel LP rusak, sebagian besar kabel instalasi shortage, seluruh armature rusak berat, sehingga biaya perbaikan lebih dari 65 % dari instalasi baru
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="vk_listrik" id="vk_listrik7" value="1.00">
                <label class="form-check-label" for="vk_listrik7">
                    Material, dimensi, dan konstruksi pondasi diindikasi tidak sesuai dengan persyaratan teknis (merujuk pada Rencana Teknis apabila ada, Petunjuk Teknis, dan/atau SNI)
                </label>
            </div>

            <label class="fieldlabels mt-3">Indikasi kerusakan seperti apa yang terjadi pada instalasi air bersih?</label>     
            <div class="form-check">
                <input class="form-check-input" type="radio" name="vk_air" id="vk_air1" value="0.00">
                <label class="form-check-label" for="vk_air1">
                    Sistem penyediaan air diindikasi dalam kondisi baik
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="vk_air" id="vk_air2" value="0.20">
                <label class="form-check-label" for="vk_air2">
                    Kebocoran pipa terbatas ditempat yang terlihat atau mudah dicapai, keran-keran kecil rusak, sehingga biaya perbaikan kurang dari 10% biaya instalasi baru
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="vk_air" id="vk_air3" value="0.35">
                <label class="form-check-label" for="vk_air3">
                    Bagian-bagian kecil pemipaan bocor, motor pompa terbakar, keran-keran kecil rusak, sehingga biaya perbaikan antara 10-25% dari biaya instalasi baru
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="vk_air" id="vk_air4" value="0.50">
                <label class="form-check-label" for="vk_air4">
                    Pompa, motor, pipa, dan keran rusak apabila diganti atau diperbaiki memerlukan biaya antara 25-50% dari biaya instalasi baru
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="vk_air" id="vk_air5" value="0.70">
                <label class="form-check-label" for="vk_air5">
                    Sebagian besar pompa, sebagian besar motor terbakar, pipa utama bocor namun ditempat terbuka, beberapa keran tidak berfungsi, sehingga biaya perbaikan 50-65% dari biaya instalasi baru
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="vk_air" id="vk_air6" value="0.85">
                <label class="form-check-label" for="vk_air6">
                    Pompa–pompa rusak total, motor terbakar, di banyak tempat terbuka dan tutup pipa-pipa bocor keran-keran tidak berfungsi, sehingga perbaikan instalasi perlu menyeluruh, dengan perkiraan biaya lebih dari 65% dari biaya instalasi baru
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="vk_air" id="vk_air7" value="1.00">
                <label class="form-check-label" for="vk_air7">
                    Material, dimensi, dan konstruksi pondasi diindikasi tidak sesuai dengan persyaratan teknis (merujuk pada Rencana Teknis apabila ada, Petunjuk Teknis, dan/atau SNI)
                </label>
            </div>
        </div>
    </div>
</div>