<div class="col-md-12">
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">Utilitas - Drainase Limbah</h3>
        </div>
        <div class="card-body">
            <label class="fieldlabels mt-3">Menghitung volume kerusakan komponen</label> <br>
            <label class="fieldlabels" for="v_drainase">Berapa panjang drainase limbah (M1 / Meter Lari) pada bangunan rumah Bapak/Ibu?</label> 
            <input type="number" min="1" class="form-control form-control-sm" id="v_drainase" name="v_drainase" placeholder="Masukan panjang drainase Disini" required/> 
            
            <label class="fieldlabels mt-3">Apakah ada dari deskripsi dibawah ini yang sesuai untuk mendeskripsikan kondisi atau kerusakan pada komponen drainase rumah Bapak/Ibu? Jiya ada, berikan tanda centang dan sertakan jumlah komponen yang mengalami kerusakan sesuai deskripsi.</label> 
            <div class="form-check mt-2">
                <input class="form-check-input" type="checkbox" onclick="toggleInputDrainase('drainase_tr')" id="checkbox_drainase_tr">
                <label class="form-check-label" for="checkbox_drainase_tr">
                    Floor drain, buangan kloset, roof drain, talang vertikal, dan drainase halaman dalam kondisi baik.
                </label>
            </div>
            <input type="number" min="0" class="form-control form-control-sm" id="drainase_tr" name="drainase_tr" placeholder="Masukan panjang drainase sesuai deskripsi disini" disabled/> 
            <div class="form-check mt-2">
                <input class="form-check-input" type="checkbox" onclick="toggleInputDrainase('drainase_rsr')" id="checkbox_drainase_rsr">
                <label class="form-check-label" for="checkbox_drainase_rsr">
                    Sebagian kecil floor drain tersumbat, sehingga air kotor lambat mengalir <br>
                    Sebagian buangan kloset tersumbat, sehingga air buangan kloset lambat mengalir <br>
                    Sebagian roof drain, talang vertikal, dan drainase halaman, sehingga air kotor lambat mengalir <br>
                    Biaya perbaikan kurang dari 10% dari biaya instalasi baru
                </label>
                <span>
                    <a href="#" class="" data-toggle="modal" data-target="#modal_drainase_rsr">&nbsp;
                        <i class="far fa-eye" style="color: #c0c0c0;" data-toggle="tooltip" data-placement="top" title="Lihat contoh gambar"></i>
                    </a>
                </span>
            </div>
            <input type="number" min="0" class="form-control form-control-sm" id="drainase_rsr" name="drainase_rsr" placeholder="Masukan panjang drainase sesuai deskripsi disini" disabled/> 
            <div class="form-check mt-2">
                <input class="form-check-input" type="checkbox" onclick="toggleInputDrainase('drainase_rr')" id="checkbox_drainase_rr">
                <label class="form-check-label" for="checkbox_drainase_rr">
                    Sebagian kecil floor drain tersumbat, sehingga air kotor lambat mengalir <br>
                    Sebagian buangan kloset tersumbat, sehingga air buangan kloset lambat mengalir <br>
                    Sebagian roof drain, talang vertikal, dan drainase halaman, sehingga air kotor lambat mengalir <br>
                    Baya perbaikan kurang dari 10-25% dari biaya instalasi baru
                </label>
            </div>
            <input type="number" min="0" class="form-control form-control-sm" id="drainase_rr" name="drainase_rr" placeholder="Masukan panjang drainase sesuai deskripsi disini" disabled /> 
            <div class="form-check mt-2">
                <input class="form-check-input" type="checkbox" onclick="toggleInputDrainase('drainase_rs')" id="checkbox_drainase_rs">
                <label class="form-check-label" for="checkbox_drainase_rs">
                    Sebagian floor drain tersumbat, sehingga air kotor lambat mengalir dan menggenang sebentar <br>
                    Sebagian buangan kloset tersumbat, sehingga air buangan kloset lambat mengalir dan menggenang sebentar <br>
                    Sebagian roof drain, talang vertikal, dan drainase tersumbat, sehingga limpasan air hujan lambat mengalir dan menggenang sebentar <br>
                    Biaya perbaikan 25-50 % dari biaya instalasi baru
                </label>
                <span>
                    <a href="#" class="" data-toggle="modal" data-target="#modal_drainase_rs">&nbsp;
                        <i class="far fa-eye" style="color: #c0c0c0;" data-toggle="tooltip" data-placement="top" title="Lihat contoh gambar"></i>
                    </a>
                </span>
            </div>
            <input type="number" min="0" class="form-control form-control-sm" id="drainase_rs" name="drainase_rs" placeholder="Masukan panjang drainase sesuai deskripsi disini" disabled /> 
            <div class="form-check mt-2">
                <input class="form-check-input" type="checkbox" onclick="toggleInputDrainase('drainase_rb')" id="checkbox_drainase_rb">
                <label class="form-check-label" for="checkbox_drainase_rb">
                    Sebagian besar floor drain tidak berfungsi, sehingga air kotor meluap dan menggenang permanen <br>
                    Sebagian besar buangan kloset tidak berfungsi, sehingga air buangan kloset meluap dan menggenang permanen <br>
                    Sebagian besar roof drain, talang vertikal, dan drainase halaman tidak berfungsi sehingga limpasan air hujan meluap dan bocor <br>
                    Biaya perbaikan lebih dari 50-65% dari biaya instalasi baru
                </label>
                <span>
                    <a href="#" class="" data-toggle="modal" data-target="#modal_drainase_rb">&nbsp;
                        <i class="far fa-eye" style="color: #c0c0c0;" data-toggle="tooltip" data-placement="top" title="Lihat contoh gambar"></i>
                    </a>
                </span>
            </div>
            <input type="number" min="0" class="form-control form-control-sm" id="drainase_rb" name="drainase_rb" placeholder="Masukan panjang drainase sesuai deskripsi disini" disabled /> 
            <div class="form-check mt-2">
                <input class="form-check-input" type="checkbox" onclick="toggleInputDrainase('drainase_rsb')" id="checkbox_drainase_rsb">
                <label class="form-check-label" for="checkbox_drainase_rsb">
                    Semua floor drain tidak berfungsi, sehingga air kotor meluap dan menggenang permanen <br>
                    Semua buangan kloset tidak berfungsi, sehingga air buangan kloset meluap dan menggenang permanen <br>
                    Semua roof drain, talang vertikal, dan drainase halaman tidak berfungsi sehingga limpasan air hujan meluap dan bocor <br>
                    Biaya perbaikan lebih dari 65% dari biaya instalasi baru
                </label>
            </div>
            <input type="number" min="0" class="form-control form-control-sm" id="drainase_rsb" name="drainase_rsb" placeholder="Masukan panjang drainase sesuai deskripsi dsini" disabled /> 
            <div class="form-check mt-2">
                <input class="form-check-input" type="checkbox" onclick="toggleInputDrainase('drainase_kts')" id="checkbox_drainase_kts">
                <label class="form-check-label" for="checkbox_drainase_kts">
                    Komponen drainase Tidak Sesuai. Material, dimensi, dan konstruksi drainase diindikasi tidak sesuai dengan persyaratan teknis (merujuk pada Rencana Teknis apabila ada, Petunjuk Teknis, dan/atau SNI).
                </label>
            </div>
            <input type="number" min="0" class="form-control form-control-sm" id="drainase_kts" name="drainase_kts" placeholder="Masukan panjang drainase sesuai deskripsi disini" disabled /> 
        </div>
    </div>
</div>

<script>
function toggleInputDrainase(inputId) {
    var input = document.getElementById(inputId);
    input.disabled = !input.disabled;  // Membalikkan status disabled input
}
</script>