{% load static %}

<!-- REQUIRED SCRIPTS -->
<!-- jQuery -->
<script src="{% static './plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static './plugins/jquery-ui/jquery-ui.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static './plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<!-- SweetAlert2 -->
<script src="{% static './plugins/sweetalert2/sweetalert2.min.js' %}"></script>
<!-- DataTables  & Plugins -->
<script src="{% static './plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static './plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static './plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static './plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<!-- ChartJS -->
<script src="{% static './plugins/chart.js/Chart.js' %}"></script>

<!-- AdminLTE -->
<script src="{% static './dist/js/adminlte.js' %}"></script>

<!--Leaflet-->
<script src="{% static './plugins/leaflet/leaflet.js' %}"></script>
<script src="{% static './plugins/leafletbrowserprint/leaflet.browser.print.min.js' %}"></script>
<script src="{% static './plugins/leafletmeasure/leaflet-measure.js' %}"></script>
<script src="{% static './plugins/leafletmarkercluster/leaflet.markercluster.js' %}"></script>
<script src="{% static './plugins/leafletcontrolgeocoder/Control.Geocoder.js' %}"></script>
<script src="{% static './plugins/leafletlocatecontrol/L.Control.Locate.min.js' %}"></script>
<script src="{% static './data/test.js' %}"></script>

<!--Leaflet routing machine-->
<script src="{% static './plugins/leafletroutingmachine/leaflet-routing-machine.js' %}"></script>

<!--form wizard-->
<script src="{% static './dist/js/forms-wizard.js' %}"></script>

<!-- OPTIONAL SCRIPTS -->
<!-- AdminLTE for demo purposes -->
<script src="{% static './dist/js/demo_index5.js' %}"></script>