<div class="col-7">
    <h2 class="fs-title">Informasi Arsitektur:</h2>
</div>
<div class="col-5">
    <h2 class="steps">Step 3 - 5</h2>
</div>
<div class="col-md-12 mb-3">
    <!--Dinding/Partisi-->
    <label class="fieldlabels" for="ket_dinding">Tahap 1 - Pengamatan Visual Dinding/Partisi: *</label> 
    <select name="ket_dinding" id="ket_dinding" class="form-control form-control-sm">
        <option value="">Pilih</option>
        <option value="Tidak ada kerusakan">Tidak ada kerusakan</option>
        <option value="Ada kerusakan yang diindikasi membahayakan keselamatan pemanfaatan ruang/bangunan">Ada kerusakan yang diindikasi membahayakan keselamatan pemanfaatan ruang/bangunan</option>
        <option value="Ada kerusakan, namun diindikasi tidak membahayakan keselamatan pemanfaatan ruang/bangunan">Ada kerusakan, namun diindikasi tidak membahayakan keselamatan pemanfaatan ruang/bangunan</option>
    </select>
    <div class="row">
        <div class="col-md-6">
            <label class="fieldlabels" for="v_dinding">Volume Dinding (%) 100: *</label> 
            <input type="number" min="0" step="0.01" max="1" class="form-control form-control-sm" id="v_dinding" name="v_dinding" placeholder="Volume Dinding (%) 100" disabled/> 
            <label class="fieldlabels" for="dinding_tr">Dinding Tidak Rusak: *</label> 
            <select name="dinding_tr" id="dinding_tr" class="form-control form-control-sm">
                <option value="0">Pilih</option>
                <option value="0">0%</option>
                <option value="0.1">10%</option>
                <option value="0.2">20%</option>
                <option value="0.3">30%</option>
                <option value="0.4">40%</option>
                <option value="0.5">50%</option>
                <option value="0.6">60%</option>
                <option value="0.7">70%</option>
                <option value="0.8">80%</option>
                <option value="0.9">90%</option>
                <option value="1">100%</option>
            </select>
            <label class="fieldlabels" for="dinding_rsr">Dinding Rusak Sangat Ringan: *</label> 
            <select name="dinding_rsr" id="dinding_rsr" class="form-control form-control-sm">
                <option value="0">Pilih</option>
                <option value="0">0%</option>
                <option value="0.1">10%</option>
                <option value="0.2">20%</option>
                <option value="0.3">30%</option>
                <option value="0.4">40%</option>
                <option value="0.5">50%</option>
                <option value="0.6">60%</option>
                <option value="0.7">70%</option>
                <option value="0.8">80%</option>
                <option value="0.9">90%</option>
                <option value="1">100%</option>
            </select>
            <label class="fieldlabels" for="dinding_rr">Dinding Rusak Ringan: *</label> 
            <select name="dinding_rr" id="dinding_rr" class="form-control form-control-sm">
                <option value="0">Pilih</option>
                <option value="0">0%</option>
                <option value="0.1">10%</option>
                <option value="0.2">20%</option>
                <option value="0.3">30%</option>
                <option value="0.4">40%</option>
                <option value="0.5">50%</option>
                <option value="0.6">60%</option>
                <option value="0.7">70%</option>
                <option value="0.8">80%</option>
                <option value="0.9">90%</option>
                <option value="1">100%</option>
            </select>
        </div>
        <div class="col-md-6">
            <label class="fieldlabels" for="dinding_rs">Dinding Rusak Sedang: *</label> 
            <select name="dinding_rs" id="dinding_rs" class="form-control form-control-sm">
                <option value="0">Pilih</option>
                <option value="0">0%</option>
                <option value="0.1">10%</option>
                <option value="0.2">20%</option>
                <option value="0.3">30%</option>
                <option value="0.4">40%</option>
                <option value="0.5">50%</option>
                <option value="0.6">60%</option>
                <option value="0.7">70%</option>
                <option value="0.8">80%</option>
                <option value="0.9">90%</option>
                <option value="1">100%</option>
            </select>
            <label class="fieldlabels" for="dinding_rb">Dinding Rusak Berat: *</label> 
            <select name="dinding_rb" id="dinding_rb" class="form-control form-control-sm">
                <option value="0">Pilih</option>
                <option value="0">0%</option>
                <option value="0.1">10%</option>
                <option value="0.2">20%</option>
                <option value="0.3">30%</option>
                <option value="0.4">40%</option>
                <option value="0.5">50%</option>
                <option value="0.6">60%</option>
                <option value="0.7">70%</option>
                <option value="0.8">80%</option>
                <option value="0.9">90%</option>
                <option value="1">100%</option>
            </select>
            <label class="fieldlabels" for="dinding_rsb">Dinding Rusak Sangat Berat: *</label> 
            <select name="dinding_rsb" id="dinding_rsb" class="form-control form-control-sm">
                <option value="0">Pilih</option>
                <option value="0">0%</option>
                <option value="0.1">10%</option>
                <option value="0.2">20%</option>
                <option value="0.3">30%</option>
                <option value="0.4">40%</option>
                <option value="0.5">50%</option>
                <option value="0.6">60%</option>
                <option value="0.7">70%</option>
                <option value="0.8">80%</option>
                <option value="0.9">90%</option>
                <option value="1">100%</option>
            </select>
            <label class="fieldlabels" for="dinding_kts">Komponen Dinding Tidak Sesuai: *</label> 
            <select name="dinding_kts" id="dinding_kts" class="form-control form-control-sm">
                <option value="0">Pilih</option>
                <option value="0">0%</option>
                <option value="0.1">10%</option>
                <option value="0.2">20%</option>
                <option value="0.3">30%</option>
                <option value="0.4">40%</option>
                <option value="0.5">50%</option>
                <option value="0.6">60%</option>
                <option value="0.7">70%</option>
                <option value="0.8">80%</option>
                <option value="0.9">90%</option>
                <option value="1">100%</option>
            </select>
        </div>
    </div>
    <!--End Dinding/Partisi-->
</div>
<!--Plafon-->
<div class="col-md-6">
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">Struktur Plafon</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <label class="fieldlabels" for="v_plafon">Volume Plafon (%) 100: *</label> 
                    <input type="number" min="0" max="1" step="0.01" class="form-control form-control-sm" id="v_plafon" name="v_plafon" placeholder="Volume Plafon (%) 100" disabled/> 
                    <label class="fieldlabels" for="plafon_tr">Plafon Tidak Rusak: *</label> 
                    <select name="plafon_tr" id="plafon_tr" class="form-control form-control-sm">
                        <option value="0">Pilih</option>
                        <option value="0">0%</option>
                        <option value="0.1">10%</option>
                        <option value="0.2">20%</option>
                        <option value="0.3">30%</option>
                        <option value="0.4">40%</option>
                        <option value="0.5">50%</option>
                        <option value="0.6">60%</option>
                        <option value="0.7">70%</option>
                        <option value="0.8">80%</option>
                        <option value="0.9">90%</option>
                        <option value="1">100%</option>
                    </select>
                    <label class="fieldlabels" for="plafon_rsr">Plafon Rusak Sangat Ringan: *</label> 
                    <select name="plafon_rsr" id="plafon_rsr" class="form-control form-control-sm">
                        <option value="0">Pilih</option>
                        <option value="0">0%</option>
                        <option value="0.1">10%</option>
                        <option value="0.2">20%</option>
                        <option value="0.3">30%</option>
                        <option value="0.4">40%</option>
                        <option value="0.5">50%</option>
                        <option value="0.6">60%</option>
                        <option value="0.7">70%</option>
                        <option value="0.8">80%</option>
                        <option value="0.9">90%</option>
                        <option value="1">100%</option>
                    </select>
                    <label class="fieldlabels" for="plafon_rr">Plafon Rusak Ringan: *</label> 
                    <select name="plafon_rr" id="plafon_rr" class="form-control form-control-sm">
                        <option value="0">Pilih</option>
                        <option value="0">0%</option>
                        <option value="0.1">10%</option>
                        <option value="0.2">20%</option>
                        <option value="0.3">30%</option>
                        <option value="0.4">40%</option>
                        <option value="0.5">50%</option>
                        <option value="0.6">60%</option>
                        <option value="0.7">70%</option>
                        <option value="0.8">80%</option>
                        <option value="0.9">90%</option>
                        <option value="1">100%</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label class="fieldlabels" for="plafon_rs">Plafon Rusak Sedang: *</label> 
                    <select name="plafon_rs" id="plafon_rs" class="form-control form-control-sm">
                        <option value="0">Pilih</option>
                        <option value="0">0%</option>
                        <option value="0.1">10%</option>
                        <option value="0.2">20%</option>
                        <option value="0.3">30%</option>
                        <option value="0.4">40%</option>
                        <option value="0.5">50%</option>
                        <option value="0.6">60%</option>
                        <option value="0.7">70%</option>
                        <option value="0.8">80%</option>
                        <option value="0.9">90%</option>
                        <option value="1">100%</option>
                    </select>
                    <label class="fieldlabels" for="plafon_rb">Plafon Rusak Berat: *</label> 
                    <select name="plafon_rb" id="plafon_rb" class="form-control form-control-sm">
                        <option value="0">Pilih</option>
                        <option value="0">0%</option>
                        <option value="0.1">10%</option>
                        <option value="0.2">20%</option>
                        <option value="0.3">30%</option>
                        <option value="0.4">40%</option>
                        <option value="0.5">50%</option>
                        <option value="0.6">60%</option>
                        <option value="0.7">70%</option>
                        <option value="0.8">80%</option>
                        <option value="0.9">90%</option>
                        <option value="1">100%</option>
                    </select>
                    <label class="fieldlabels" for="plafon_rsb">Plafon Rusak Sangat Berat: *</label> 
                    <select name="plafon_rsb" id="plafon_rsb" class="form-control form-control-sm">
                        <option value="0">Pilih</option>
                        <option value="0">0%</option>
                        <option value="0.1">10%</option>
                        <option value="0.2">20%</option>
                        <option value="0.3">30%</option>
                        <option value="0.4">40%</option>
                        <option value="0.5">50%</option>
                        <option value="0.6">60%</option>
                        <option value="0.7">70%</option>
                        <option value="0.8">80%</option>
                        <option value="0.9">90%</option>
                        <option value="1">100%</option>
                    </select>
                    <label class="fieldlabels" for="plafon_kts">Komponen Plafon Tidak Sesuai: *</label> 
                    <select name="plafon_kts" id="plafon_kts" class="form-control form-control-sm">
                        <option value="0">Pilih</option>
                        <option value="0">0%</option>
                        <option value="0.1">10%</option>
                        <option value="0.2">20%</option>
                        <option value="0.3">30%</option>
                        <option value="0.4">40%</option>
                        <option value="0.5">50%</option>
                        <option value="0.6">60%</option>
                        <option value="0.7">70%</option>
                        <option value="0.8">80%</option>
                        <option value="0.9">90%</option>
                        <option value="1">100%</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Plafon-->
<!--Lantai-->
<div class="col-md-6">
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">Struktur Lantai</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <label class="fieldlabels" for="v_lantai">Volume Lantai (%) 100: *</label> 
                    <input type="number" min="0" max="1" step="0.01" class="form-control form-control-sm" id="v_lantai" name="v_lantai" placeholder="Volume Lantai (%) 100" disabled/> 
                    <label class="fieldlabels" for="lantai_tr">Lantai Tidak Rusak: *</label> 
                    <select name="lantai_tr" id="lantai_tr" class="form-control form-control-sm">
                        <option value="0">Pilih</option>
                        <option value="0">0%</option>
                        <option value="0.1">10%</option>
                        <option value="0.2">20%</option>
                        <option value="0.3">30%</option>
                        <option value="0.4">40%</option>
                        <option value="0.5">50%</option>
                        <option value="0.6">60%</option>
                        <option value="0.7">70%</option>
                        <option value="0.8">80%</option>
                        <option value="0.9">90%</option>
                        <option value="1">100%</option>
                    </select>
                    <label class="fieldlabels" for="lantai_rsr">Lantai Rusak Sangat Ringan: *</label> 
                    <select name="lantai_rsr" id="lantai_rsr" class="form-control form-control-sm">
                        <option value="0">Pilih</option>
                        <option value="0">0%</option>
                        <option value="0.1">10%</option>
                        <option value="0.2">20%</option>
                        <option value="0.3">30%</option>
                        <option value="0.4">40%</option>
                        <option value="0.5">50%</option>
                        <option value="0.6">60%</option>
                        <option value="0.7">70%</option>
                        <option value="0.8">80%</option>
                        <option value="0.9">90%</option>
                        <option value="1">100%</option>
                    </select>
                    <label class="fieldlabels" for="lantai_rr">Lantai Rusak Ringan: *</label> 
                    <select name="lantai_rr" id="lantai_rr" class="form-control form-control-sm">
                        <option value="0">Pilih</option>
                        <option value="0">0%</option>
                        <option value="0.1">10%</option>
                        <option value="0.2">20%</option>
                        <option value="0.3">30%</option>
                        <option value="0.4">40%</option>
                        <option value="0.5">50%</option>
                        <option value="0.6">60%</option>
                        <option value="0.7">70%</option>
                        <option value="0.8">80%</option>
                        <option value="0.9">90%</option>
                        <option value="1">100%</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label class="fieldlabels" for="lantai_rs">Lantai Rusak Sedang: *</label> 
                    <select name="lantai_rs" id="lantai_rs" class="form-control form-control-sm">
                        <option value="0">Pilih</option>
                        <option value="0">0%</option>
                        <option value="0.1">10%</option>
                        <option value="0.2">20%</option>
                        <option value="0.3">30%</option>
                        <option value="0.4">40%</option>
                        <option value="0.5">50%</option>
                        <option value="0.6">60%</option>
                        <option value="0.7">70%</option>
                        <option value="0.8">80%</option>
                        <option value="0.9">90%</option>
                        <option value="1">100%</option>
                    </select>
                    <label class="fieldlabels" for="lantai_rb">Lantai Rusak Berat: *</label> 
                    <select name="lantai_rb" id="lantai_rb" class="form-control form-control-sm">
                        <option value="0">Pilih</option>
                        <option value="0">0%</option>
                        <option value="0.1">10%</option>
                        <option value="0.2">20%</option>
                        <option value="0.3">30%</option>
                        <option value="0.4">40%</option>
                        <option value="0.5">50%</option>
                        <option value="0.6">60%</option>
                        <option value="0.7">70%</option>
                        <option value="0.8">80%</option>
                        <option value="0.9">90%</option>
                        <option value="1">100%</option>
                    </select>
                    <label class="fieldlabels" for="lantai_rsb">Lantai Rusak Sangat Berat: *</label> 
                    <select name="lantai_rsb" id="lantai_rsb" class="form-control form-control-sm">
                        <option value="0">Pilih</option>
                        <option value="0">0%</option>
                        <option value="0.1">10%</option>
                        <option value="0.2">20%</option>
                        <option value="0.3">30%</option>
                        <option value="0.4">40%</option>
                        <option value="0.5">50%</option>
                        <option value="0.6">60%</option>
                        <option value="0.7">70%</option>
                        <option value="0.8">80%</option>
                        <option value="0.9">90%</option>
                        <option value="1">100%</option>
                    </select>
                    <label class="fieldlabels" for="lantai_kts">Komponen Lantai Tidak Sesuai: *</label> 
                    <select name="lantai_kts" id="lantai_kts" class="form-control form-control-sm">
                        <option value="0">Pilih</option>
                        <option value="0">0%</option>
                        <option value="0.1">10%</option>
                        <option value="0.2">20%</option>
                        <option value="0.3">30%</option>
                        <option value="0.4">40%</option>
                        <option value="0.5">50%</option>
                        <option value="0.6">60%</option>
                        <option value="0.7">70%</option>
                        <option value="0.8">80%</option>
                        <option value="0.9">90%</option>
                        <option value="1">100%</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Lantai-->
<!--Kusen-->
<div class="col-md-6">
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">Struktur Kusen</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <label class="fieldlabels" for="j_kusen">Jumlah Kusen: *</label> 
                    <input type="number" min="1" max="20" class="form-control form-control-sm" id="j_kusen" name="j_kusen" placeholder="Jumlah Kusen" required/> 
                    <label class="fieldlabels" for="kusen_tr">Kusen Tidak Rusak: *</label> 
                    <input type="number" min="0" max="10" class="form-control form-control-sm" id="kusen_tr" name="kusen_tr" placeholder="Kusen Tidak Rusak" required/> 
                    <label class="fieldlabels" for="kusen_rsr">Kusen Rusak Sangat Ringan: *</label> 
                    <input type="number" min="0" max="10" class="form-control form-control-sm" id="kusen_rsr" name="kusen_rsr" placeholder="Kusen Rusak Sangat Ringan" required/> 
                    <label class="fieldlabels" for="kusen_rr">Kusen Rusak Ringan: *</label> 
                    <input type="number" min="0" max="10" class="form-control form-control-sm" id="kusen_rr" name="kusen_rr" placeholder="Kusen Rusak Ringan" required/> 
                </div>
                <div class="col-md-6">
                    <label class="fieldlabels" for="kusen_rs">Kusen Rusak Sedang: *</label> 
                    <input type="number" min="0" max="10" class="form-control form-control-sm" id="kusen_rs" name="kusen_rs" placeholder="Kusen Rusak Sedang" required/> 
                    <label class="fieldlabels" for="kusen_rb">Kusen Rusak Berat: *</label> 
                    <input type="number" min="0" max="10" class="form-control form-control-sm" id="kusen_rb" name="kusen_rb" placeholder="Kusen Rusak Berat" required/> 
                    <label class="fieldlabels" for="kusen_rsb">Kusen Rusak Sangat Berat: *</label> 
                    <input type="number" min="0" max="10" class="form-control form-control-sm" id="kusen_rsb" name="kusen_rsb" placeholder="Kusen Rusak Sangat Berat" required/> 
                    <label class="fieldlabels" for="kusen_kts">Komponen Kusen Tidak Sesuai: *</label> 
                    <input type="number" min="0" max="10" class="form-control form-control-sm" id="kusen_kts" name="kusen_kts" placeholder="Komponen Kusen Tidak Sesuai" required/> 
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Kusen-->
<!--Pintu-->
<div class="col-md-6">
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">Struktur Pintu</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <label class="fieldlabels" for="j_pintu">Jumlah Pintu: *</label> 
                    <input type="number" min="1" max="20" class="form-control form-control-sm" id="j_pintu" name="j_pintu" placeholder="Jumlah Pintu" required/> 
                    <label class="fieldlabels" for="pintu_tr">Pintu Tidak Rusak: *</label> 
                    <input type="number" min="0" max="10" class="form-control form-control-sm" id="pintu_tr" name="pintu_tr" placeholder="Pintu Tidak Rusak" required/> 
                    <label class="fieldlabels" for="pintu_rsr">Pintu Rusak Sangat Ringan: *</label> 
                    <input type="number" min="0" max="10" class="form-control form-control-sm" id="pintu_rsr" name="pintu_rsr" placeholder="Pintu Rusak Sangat Ringan" required/> 
                    <label class="fieldlabels" for="pintu_rr">Pintu Rusak Ringan: *</label> 
                    <input type="number" min="0" max="10" class="form-control form-control-sm" id="pintu_rr" name="pintu_rr" placeholder="Pintu Rusak Ringan" required/> 
                </div>
                <div class="col-md-6">
                    <label class="fieldlabels" for="pintu_rs">Pintu Rusak Sedang: *</label> 
                    <input type="number" min="0" max="10" class="form-control form-control-sm" id="pintu_rs" name="pintu_rs" placeholder="Pintu Rusak Sedang" required/> 
                    <label class="fieldlabels" for="pintu_rb">Pintu Rusak Berat: *</label> 
                    <input type="number" min="0" max="10" class="form-control form-control-sm" id="pintu_rb" name="pintu_rb" placeholder="Pintu Rusak Berat" required/> 
                    <label class="fieldlabels" for="pintu_rsb">Pintu Rusak Sangat Berat: *</label> 
                    <input type="number" min="0" max="10" class="form-control form-control-sm" id="pintu_rsb" name="pintu_rsb" placeholder="Pintu Rusak Sangat Berat" required/> 
                    <label class="fieldlabels" for="pintu_kts">Komponen Pintu Tidak Sesuai: *</label> 
                    <input type="number" min="0" max="10" class="form-control form-control-sm" id="pintu_kts" name="pintu_kts" placeholder="Komponen Pintu Tidak Sesuai" required/> 
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Pintu-->
<!--Jendela-->
<div class="col-md-6">
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">Struktur Jendela</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <label class="fieldlabels" for="j_jendela">Jumlah Jendela: *</label> 
                    <input type="number" min="1" max="20" class="form-control form-control-sm" id="j_jendela" name="j_jendela" placeholder="Jumlah Jendela" required/> 
                    <label class="fieldlabels" for="jendela_tr">Jendela Tidak Rusak: *</label> 
                    <input type="number" min="0" max="10" class="form-control form-control-sm" id="jendela_tr" name="jendela_tr" placeholder="Jendela Tidak Rusak" required/> 
                    <label class="fieldlabels" for="jendela_rsr">Jendela Rusak Sangat Ringan: *</label> 
                    <input type="number" min="0" max="10" class="form-control form-control-sm" id="jendela_rsr" name="jendela_rsr" placeholder="Jendela Rusak Sangat Ringan" required/> 
                    <label class="fieldlabels" for="jendela_rr">Jendela Rusak Ringan: *</label> 
                    <input type="number" min="0" max="10" class="form-control form-control-sm" id="jendela_rr" name="jendela_rr" placeholder="Jendela Rusak Ringan" required/> 
                </div>
                <div class="col-md-6">
                    <label class="fieldlabels" for="jendela_rs">Jendela Rusak Sedang: *</label> 
                    <input type="number" min="0" max="10" class="form-control form-control-sm" id="jendela_rs" name="jendela_rs" placeholder="Jendela Rusak Sedang" required/> 
                    <label class="fieldlabels" for="jendela_rb">Jendela Rusak Berat: *</label> 
                    <input type="number" min="0" max="10" class="form-control form-control-sm" id="jendela_rb" name="jendela_rb" placeholder="Jendela Rusak Berat" required/> 
                    <label class="fieldlabels" for="jendela_rsb">Jendela Rusak Sangat Berat: *</label> 
                    <input type="number" min="0" max="10" class="form-control form-control-sm" id="jendela_rsb" name="jendela_rsb" placeholder="Jendela Rusak Sangat Berat" required/> 
                    <label class="fieldlabels" for="jendela_kts">Komponen Jendela Tidak Sesuai: *</label> 
                    <input type="number" min="0" max="10" class="form-control form-control-sm" id="jendela_kts" name="jendela_kts" placeholder="Komponen Jendela Tidak Sesuai" required/> 
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Jendela-->
<!--Finishing Plafon-->
<div class="col-md-6">
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">Struktur Finishing Plafon</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <label class="fieldlabels" for="v_fplafon">Volume Plafon (%) 100: *</label> 
                    <input type="number" min="0" max="1" step="0.01" class="form-control form-control-sm" id="v_fplafon" name="v_fplafon" placeholder="Volume Plafon (%) 100" disabled/> 
                    <label class="fieldlabels" for="fplafon_tr">Plafon Tidak Rusak: *</label> 
                    <select name="fplafon_tr" id="fplafon_tr" class="form-control form-control-sm">
                        <option value="0">Pilih</option>
                        <option value="0">0%</option>
                        <option value="0.1">10%</option>
                        <option value="0.2">20%</option>
                        <option value="0.3">30%</option>
                        <option value="0.4">40%</option>
                        <option value="0.5">50%</option>
                        <option value="0.6">60%</option>
                        <option value="0.7">70%</option>
                        <option value="0.8">80%</option>
                        <option value="0.9">90%</option>
                        <option value="1">100%</option>
                    </select>
                    <label class="fieldlabels" for="fplafon_rsr">Plafon Rusak Sangat Ringan: *</label> 
                    <select name="fplafon_rsr" id="fplafon_rsr" class="form-control form-control-sm">
                        <option value="0">Pilih</option>
                        <option value="0">0%</option>
                        <option value="0.1">10%</option>
                        <option value="0.2">20%</option>
                        <option value="0.3">30%</option>
                        <option value="0.4">40%</option>
                        <option value="0.5">50%</option>
                        <option value="0.6">60%</option>
                        <option value="0.7">70%</option>
                        <option value="0.8">80%</option>
                        <option value="0.9">90%</option>
                        <option value="1">100%</option>
                    </select>
                    <label class="fieldlabels" for="fplafon_rr">Plafon Rusak Ringan: *</label> 
                    <select name="fplafon_rr" id="fplafon_rr" class="form-control form-control-sm">
                        <option value="0">Pilih</option>
                        <option value="0">0%</option>
                        <option value="0.1">10%</option>
                        <option value="0.2">20%</option>
                        <option value="0.3">30%</option>
                        <option value="0.4">40%</option>
                        <option value="0.5">50%</option>
                        <option value="0.6">60%</option>
                        <option value="0.7">70%</option>
                        <option value="0.8">80%</option>
                        <option value="0.9">90%</option>
                        <option value="1">100%</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label class="fieldlabels" for="fplafon_rs">Plafon Rusak Sedang: *</label> 
                    <select name="fplafon_rs" id="fplafon_rs" class="form-control form-control-sm">
                        <option value="0">Pilih</option>
                        <option value="0">0%</option>
                        <option value="0.1">10%</option>
                        <option value="0.2">20%</option>
                        <option value="0.3">30%</option>
                        <option value="0.4">40%</option>
                        <option value="0.5">50%</option>
                        <option value="0.6">60%</option>
                        <option value="0.7">70%</option>
                        <option value="0.8">80%</option>
                        <option value="0.9">90%</option>
                        <option value="1">100%</option>
                    </select>
                    <label class="fieldlabels" for="fplafon_rb">Plafon Rusak Berat: *</label> 
                    <select name="fplafon_rb" id="fplafon_rb" class="form-control form-control-sm">
                        <option value="0">Pilih</option>
                        <option value="0">0%</option>
                        <option value="0.1">10%</option>
                        <option value="0.2">20%</option>
                        <option value="0.3">30%</option>
                        <option value="0.4">40%</option>
                        <option value="0.5">50%</option>
                        <option value="0.6">60%</option>
                        <option value="0.7">70%</option>
                        <option value="0.8">80%</option>
                        <option value="0.9">90%</option>
                        <option value="1">100%</option>
                    </select>
                    <label class="fieldlabels" for="fplafon_rsb">Plafon Rusak Sangat Berat: *</label> 
                    <select name="fplafon_rsb" id="fplafon_rsb" class="form-control form-control-sm">
                        <option value="0">Pilih</option>
                        <option value="0">0%</option>
                        <option value="0.1">10%</option>
                        <option value="0.2">20%</option>
                        <option value="0.3">30%</option>
                        <option value="0.4">40%</option>
                        <option value="0.5">50%</option>
                        <option value="0.6">60%</option>
                        <option value="0.7">70%</option>
                        <option value="0.8">80%</option>
                        <option value="0.9">90%</option>
                        <option value="1">100%</option>
                    </select>
                    <label class="fieldlabels" for="fplafon_kts">Komponen Plafon Tidak Sesuai: *</label> 
                    <select name="fplafon_kts" id="fplafon_kts" class="form-control form-control-sm">
                        <option value="0">Pilih</option>
                        <option value="0">0%</option>
                        <option value="0.1">10%</option>
                        <option value="0.2">20%</option>
                        <option value="0.3">30%</option>
                        <option value="0.4">40%</option>
                        <option value="0.5">50%</option>
                        <option value="0.6">60%</option>
                        <option value="0.7">70%</option>
                        <option value="0.8">80%</option>
                        <option value="0.9">90%</option>
                        <option value="1">100%</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Finishing Plafon-->
<!--Finishing Dinding/Partisi-->
<div class="col-md-6">
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">Struktur Finishing Dinding</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <label class="fieldlabels" for="v_fdinding">Volume Dinding (%) 100: *</label> 
                    <input type="number" min="0" max="1" step="0.01" class="form-control form-control-sm" id="v_fdinding" name="v_fdinding" placeholder="Volume Dinding (%) 100" disabled/> 
                    <label class="fieldlabels" for="fdinding_tr">Dinding Tidak Rusak: *</label> 
                    <select name="fdinding_tr" id="fdinding_tr" class="form-control form-control-sm">
                        <option value="0">Pilih</option>
                        <option value="0">0%</option>
                        <option value="0.1">10%</option>
                        <option value="0.2">20%</option>
                        <option value="0.3">30%</option>
                        <option value="0.4">40%</option>
                        <option value="0.5">50%</option>
                        <option value="0.6">60%</option>
                        <option value="0.7">70%</option>
                        <option value="0.8">80%</option>
                        <option value="0.9">90%</option>
                        <option value="1">100%</option>
                    </select>
                    <label class="fieldlabels" for="fdinding_rsr">Dinding Rusak Sangat Ringan: *</label> 
                    <select name="fdinding_rsr" id="fdinding_rsr" class="form-control form-control-sm">
                        <option value="0">Pilih</option>
                        <option value="0">0%</option>
                        <option value="0.1">10%</option>
                        <option value="0.2">20%</option>
                        <option value="0.3">30%</option>
                        <option value="0.4">40%</option>
                        <option value="0.5">50%</option>
                        <option value="0.6">60%</option>
                        <option value="0.7">70%</option>
                        <option value="0.8">80%</option>
                        <option value="0.9">90%</option>
                        <option value="1">100%</option>
                    </select>
                    <label class="fieldlabels" for="fdinding_rr">Dinding Rusak Ringan: *</label> 
                    <select name="fdinding_rr" id="fdinding_rr" class="form-control form-control-sm">
                        <option value="0">Pilih</option>
                        <option value="0">0%</option>
                        <option value="0.1">10%</option>
                        <option value="0.2">20%</option>
                        <option value="0.3">30%</option>
                        <option value="0.4">40%</option>
                        <option value="0.5">50%</option>
                        <option value="0.6">60%</option>
                        <option value="0.7">70%</option>
                        <option value="0.8">80%</option>
                        <option value="0.9">90%</option>
                        <option value="1">100%</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label class="fieldlabels" for="fdinding_rs">Dinding Rusak Sedang: *</label> 
                    <select name="fdinding_rs" id="fdinding_rs" class="form-control form-control-sm">
                        <option value="0">Pilih</option>
                        <option value="0">0%</option>
                        <option value="0.1">10%</option>
                        <option value="0.2">20%</option>
                        <option value="0.3">30%</option>
                        <option value="0.4">40%</option>
                        <option value="0.5">50%</option>
                        <option value="0.6">60%</option>
                        <option value="0.7">70%</option>
                        <option value="0.8">80%</option>
                        <option value="0.9">90%</option>
                        <option value="1">100%</option>
                    </select>
                    <label class="fieldlabels" for="fdinding_rb">Dinding Rusak Berat: *</label> 
                    <select name="fdinding_rb" id="fdinding_rb" class="form-control form-control-sm">
                        <option value="0">Pilih</option>
                        <option value="0">0%</option>
                        <option value="0.1">10%</option>
                        <option value="0.2">20%</option>
                        <option value="0.3">30%</option>
                        <option value="0.4">40%</option>
                        <option value="0.5">50%</option>
                        <option value="0.6">60%</option>
                        <option value="0.7">70%</option>
                        <option value="0.8">80%</option>
                        <option value="0.9">90%</option>
                        <option value="1">100%</option>
                    </select>
                    <label class="fieldlabels" for="fdinding_rsb">Dinding Rusak Sangat Berat: *</label> 
                    <select name="fdinding_rsb" id="fdinding_rsb" class="form-control form-control-sm">
                        <option value="0">Pilih</option>
                        <option value="0">0%</option>
                        <option value="0.1">10%</option>
                        <option value="0.2">20%</option>
                        <option value="0.3">30%</option>
                        <option value="0.4">40%</option>
                        <option value="0.5">50%</option>
                        <option value="0.6">60%</option>
                        <option value="0.7">70%</option>
                        <option value="0.8">80%</option>
                        <option value="0.9">90%</option>
                        <option value="1">100%</option>
                    </select>
                    <label class="fieldlabels" for="fdinding_kts">Komponen Dinding Tidak Sesuai: *</label> 
                    <select name="fdinding_kts" id="fdinding_kts" class="form-control form-control-sm">
                        <option value="0">Pilih</option>
                        <option value="0">0%</option>
                        <option value="0.1">10%</option>
                        <option value="0.2">20%</option>
                        <option value="0.3">30%</option>
                        <option value="0.4">40%</option>
                        <option value="0.5">50%</option>
                        <option value="0.6">60%</option>
                        <option value="0.7">70%</option>
                        <option value="0.8">80%</option>
                        <option value="0.9">90%</option>
                        <option value="1">100%</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Dinding/Partisi-->
<!--Finishing Kusen & Pintu-->
<div class="col-md-6">
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">Struktur Finishing Kusen & Pintu</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <label class="fieldlabels" for="v_fkupin">Volume Kusen & Pintu (%) 100: *</label> 
                    <input type="number" min="0" max="1" step="0.01" class="form-control form-control-sm" id="v_fkupin" name="v_fkupin" placeholder="Volume Kusen & Pintu (%) 100" disabled/> 
                    <label class="fieldlabels" for="fkupin_tr">Kupin Tidak Rusak: *</label> 
                    <select name="fkupin_tr" id="fkupin_tr" class="form-control form-control-sm">
                        <option value="0">Pilih</option>
                        <option value="0">0%</option>
                        <option value="0.1">10%</option>
                        <option value="0.2">20%</option>
                        <option value="0.3">30%</option>
                        <option value="0.4">40%</option>
                        <option value="0.5">50%</option>
                        <option value="0.6">60%</option>
                        <option value="0.7">70%</option>
                        <option value="0.8">80%</option>
                        <option value="0.9">90%</option>
                        <option value="1">100%</option>
                    </select>
                    <label class="fieldlabels" for="fkupin_rsr">Kupin Rusak Sangat Ringan: *</label> 
                    <select name="fkupin_rsr" id="fkupin_rsr" class="form-control form-control-sm">
                        <option value="0">Pilih</option>
                        <option value="0">0%</option>
                        <option value="0.1">10%</option>
                        <option value="0.2">20%</option>
                        <option value="0.3">30%</option>
                        <option value="0.4">40%</option>
                        <option value="0.5">50%</option>
                        <option value="0.6">60%</option>
                        <option value="0.7">70%</option>
                        <option value="0.8">80%</option>
                        <option value="0.9">90%</option>
                        <option value="1">100%</option>
                    </select>
                    <label class="fieldlabels" for="fkupin_rr">Kupin Rusak Ringan: *</label> 
                    <select name="fkupin_rr" id="fkupin_rr" class="form-control form-control-sm">
                        <option value="0">Pilih</option>
                        <option value="0">0%</option>
                        <option value="0.1">10%</option>
                        <option value="0.2">20%</option>
                        <option value="0.3">30%</option>
                        <option value="0.4">40%</option>
                        <option value="0.5">50%</option>
                        <option value="0.6">60%</option>
                        <option value="0.7">70%</option>
                        <option value="0.8">80%</option>
                        <option value="0.9">90%</option>
                        <option value="1">100%</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label class="fieldlabels" for="fkupin_rs">Kupin Rusak Sedang: *</label> 
                    <select name="fkupin_rs" id="fkupin_rs" class="form-control form-control-sm">
                        <option value="0">Pilih</option>
                        <option value="0">0%</option>
                        <option value="0.1">10%</option>
                        <option value="0.2">20%</option>
                        <option value="0.3">30%</option>
                        <option value="0.4">40%</option>
                        <option value="0.5">50%</option>
                        <option value="0.6">60%</option>
                        <option value="0.7">70%</option>
                        <option value="0.8">80%</option>
                        <option value="0.9">90%</option>
                        <option value="1">100%</option>
                    </select>
                    <label class="fieldlabels" for="fkupin_rb">Kupin Rusak Berat: *</label> 
                    <select name="fkupin_rb" id="fkupin_rb" class="form-control form-control-sm">
                        <option value="0">Pilih</option>
                        <option value="0">0%</option>
                        <option value="0.1">10%</option>
                        <option value="0.2">20%</option>
                        <option value="0.3">30%</option>
                        <option value="0.4">40%</option>
                        <option value="0.5">50%</option>
                        <option value="0.6">60%</option>
                        <option value="0.7">70%</option>
                        <option value="0.8">80%</option>
                        <option value="0.9">90%</option>
                        <option value="1">100%</option>
                    </select>
                    <label class="fieldlabels" for="fkupin_rsb">Kupin Rusak Sangat Berat: *</label> 
                    <select name="fkupin_rsb" id="fkupin_rsb" class="form-control form-control-sm">
                        <option value="0">Pilih</option>
                        <option value="0">0%</option>
                        <option value="0.1">10%</option>
                        <option value="0.2">20%</option>
                        <option value="0.3">30%</option>
                        <option value="0.4">40%</option>
                        <option value="0.5">50%</option>
                        <option value="0.6">60%</option>
                        <option value="0.7">70%</option>
                        <option value="0.8">80%</option>
                        <option value="0.9">90%</option>
                        <option value="1">100%</option>
                    </select>
                    <label class="fieldlabels" for="fkupin_kts">Komponen Kupin Tidak Sesuai: *</label> 
                    <select name="fkupin_kts" id="fkupin_kts" class="form-control form-control-sm">
                        <option value="0">Pilih</option>
                        <option value="0">0%</option>
                        <option value="0.1">10%</option>
                        <option value="0.2">20%</option>
                        <option value="0.3">30%</option>
                        <option value="0.4">40%</option>
                        <option value="0.5">50%</option>
                        <option value="0.6">60%</option>
                        <option value="0.7">70%</option>
                        <option value="0.8">80%</option>
                        <option value="0.9">90%</option>
                        <option value="1">100%</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Pintu-->