<div class="col-7">
    <h2 class="fs-title">Informasi Struktur:</h2>
</div>
<div class="col-5">
    <h2 class="steps">Step 2 - 5</h2>
</div>
<div class="col-md-12">
    <label class="fieldlabels" for="ket_pondasi">Keterangan Pondasi: *</label> 
    <input type="text" class="form-control-sm" id="ket_pondasi" name="ket_pondasi" placeholder="Keterangan Pondasi" required/> 
    <label class="fieldlabels" for="tkpondasi">Tingkat Kerusakan Pondasi: *</label> 
    <input type="text" class="form-control-sm" id="tkpondasi" name="tkpondasi" placeholder="Tingkat Kerusakan Pondasi" required/> 
</div>
<!--Kolom-->
<div class="col-md-6">
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">Struktur Kolom</h3>
        </div>
        <div class="card-body">
            <label class="fieldlabels" for="ket_kolom">Keterangan Kolom: *</label> 
            <input type="text" class="form-control-sm" id="ket_kolom" name="ket_kolom" placeholder="Keterangan Kolom" required/> 
            <div class="row">
                <div class="col-md-6">
                    <label class="fieldlabels" for="j_kolom">Jumlah Kolom: *</label> 
                    <input type="number" min="0" max="20" class="form-control-sm" id="j_kolom" name="j_kolom" placeholder="Jumlah Kolom" required/> 
                    <label class="fieldlabels" for="kolom_tr">Kolom Tidak Rusak: *</label> 
                    <input type="number" min="0" max="10" class="form-control-sm" id="kolom_tr" name="kolom_tr" placeholder="Kolom Tidak Rusak" required/> 
                    <label class="fieldlabels" for="kolom_rsr">Kolom Rusak Sangat Ringan: *</label> 
                    <input type="number" min="0" max="10" class="form-control-sm" id="kolom_rsr" name="kolom_rsr" placeholder="Kolom Rusak Sangat Ringan" required/> 
                    <label class="fieldlabels" for="kolom_rr">Kolom Rusak Ringan: *</label> 
                    <input type="number" min="0" max="10" class="form-control-sm" id="kolom_rr" name="kolom_rr" placeholder="Kolom Rusak Ringan" required/> 
                </div>
                <div class="col-md-6">
                    <label class="fieldlabels" for="kolom_rs">Kolom Rusak Sedang: *</label> 
                    <input type="number" min="0" max="10" class="form-control-sm" id="kolom_rs" name="kolom_rs" placeholder="Kolom Rusak Sedang" required/> 
                    <label class="fieldlabels" for="kolom_rb">Kolom Rusak Berat: *</label> 
                    <input type="number" min="0" max="10" class="form-control-sm" id="kolom_rb" name="kolom_rb" placeholder="Kolom Rusak Berat" required/> 
                    <label class="fieldlabels" for="kolom_rsb">Kolom Rusak Sangat Berat: *</label> 
                    <input type="number" min="0" max="10" class="form-control-sm" id="kolom_rsb" name="kolom_rsb" placeholder="Kolom Rusak Sangat Berat" required/> 
                    <label class="fieldlabels" for="kolom_kts">Komponen Kolom Tidak Sesuai: *</label> 
                    <input type="number" min="0" max="10" class="form-control-sm" id="kolom_kts" name="kolom_kts" placeholder="Komponen Kolom Tidak Sesuai" required/> 
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Kolom-->
<!--Balok-->
<div class="col-md-6">
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">Struktur Balok</h3>
        </div>
        <div class="card-body">
            <label class="fieldlabels" for="ket_balok">Keterangan Balok: *</label> 
            <input type="text" class="form-control-sm" id="ket_balok" name="ket_balok" placeholder="Keterangan Balok" required/> 
            <div class="row">
                <div class="col-md-6">
                    <label class="fieldlabels" for="j_balok">Jumlah Balok: *</label> 
                    <input type="number" min="0" max="20" class="form-control-sm" id="j_balok" name="j_balok" placeholder="Jumlah Balok" required/> 
                    <label class="fieldlabels" for="balok_tr">Balok Tidak Rusak: *</label> 
                    <input type="number" min="0" max="10" class="form-control-sm" id="balok_tr" name="balok_tr" placeholder="Balok Tidak Rusak" required/> 
                    <label class="fieldlabels" for="balok_rsr">Balok Rusak Sangat Ringan: *</label> 
                    <input type="number" min="0" max="10" class="form-control-sm" id="balok_rsr" name="balok_rsr" placeholder="Balok Rusak Sangat Ringan" required/> 
                    <label class="fieldlabels" for="balok_rr">Balok Rusak Ringan: *</label> 
                    <input type="number" min="0" max="10" class="form-control-sm" id="balok_rr" name="balok_rr" placeholder="Balok Rusak Ringan" required/> 
                </div>
                <div class="col-md-6">
                    <label class="fieldlabels" for="balok_rs">Balok Rusak Sedang: *</label> 
                    <input type="number" min="0" max="10" class="form-control-sm" id="balok_rs" name="balok_rs" placeholder="Balok Rusak Sedang" required/> 
                    <label class="fieldlabels" for="balok_rb">Balok Rusak Berat: *</label> 
                    <input type="number" min="0" max="10" class="form-control-sm" id="balok_rb" name="balok_rb" placeholder="Balok Rusak Berat" required/> 
                    <label class="fieldlabels" for="balok_rsb">Balok Rusak Sangat Berat: *</label> 
                    <input type="number" min="0" max="10" class="form-control-sm" id="balok_rsb" name="balok_rsb" placeholder="Balok Rusak Sangat Berat" required/> 
                    <label class="fieldlabels" for="balok_kts">Komponen Balok Tidak Sesuai: *</label> 
                    <input type="number" min="0" max="10" class="form-control-sm" id="balok_kts" name="balok_kts" placeholder="Komponen Balok Tidak Sesuai" required/> 
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Balok-->
<!--Atap-->
<div class="col-md-12">
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">Struktur Atap</h3>
        </div>
        <div class="card-body">
            <label class="fieldlabels" for="ket_atap">Keterangan Atap: *</label> 
            <input type="text" class="form-control-sm" id="ket_atap" name="ket_atap" placeholder="Keterangan Atap" required/> 
            <div class="row">
                <div class="col-md-6">
                    <label class="fieldlabels" for="v_atap">Volume Atap (%) 100: *</label> 
                    <input type="number" min="0" max="20" class="form-control-sm" id="v_atap" name="v_atap" placeholder="Volume Atap (%) 100" readonly/> 
                    <label class="fieldlabels" for="atap_tr">Atap Tidak Rusak: *</label> 
                    <input type="number" min="0" max="10" class="form-control-sm" id="atap_tr" name="atap_tr" placeholder="Atap Tidak Rusak" required/> 
                    <label class="fieldlabels" for="atap_rsr">Atap Rusak Sangat Ringan: *</label> 
                    <input type="number" min="0" max="10" class="form-control-sm" id="atap_rsr" name="atap_rsr" placeholder="Atap Rusak Sangat Ringan" required/> 
                    <label class="fieldlabels" for="atap_rr">Atap Rusak Ringan: *</label> 
                    <input type="number" min="0" max="10" class="form-control-sm" id="atap_rr" name="atap_rr" placeholder="Atap Rusak Ringan" required/> 
                </div>
                <div class="col-md-6">
                    <label class="fieldlabels" for="atap_rs">Atap Rusak Sedang: *</label> 
                    <input type="number" min="0" max="10" class="form-control-sm" id="atap_rs" name="atap_rs" placeholder="Atap Rusak Sedang" required/> 
                    <label class="fieldlabels" for="atap_rb">Atap Rusak Berat: *</label> 
                    <input type="number" min="0" max="10" class="form-control-sm" id="atap_rb" name="atap_rb" placeholder="Atap Rusak Berat" required/> 
                    <label class="fieldlabels" for="atap_rsb">Atap Rusak Sangat Berat: *</label> 
                    <input type="number" min="0" max="10" class="form-control-sm" id="atap_rsb" name="atap_rsb" placeholder="Atap Rusak Sangat Berat" required/> 
                    <label class="fieldlabels" for="atap_kts">Komponen Atap Tidak Sesuai: *</label> 
                    <input type="number" min="0" max="10" class="form-control-sm" id="atap_kts" name="atap_kts" placeholder="Komponen Atap Tidak Sesuai" required/> 
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Atap-->   