<div class="col-7">
    <h2 class="fs-title">Informasi Utilitas:</h2>
</div>
<div class="col-5">
    <h2 class="steps">Step 4 - 5</h2>
</div>
<div class="col-md-12">
    <label class="fieldlabels" for="ket_listrik">Instalasi Listrik (Estimasi): *</label> 
    <input type="text" class="form-control-sm" id="ket_listrik" name="ket_listrik" placeholder="Instalasi Listrik (Estimasi)" required/> 
    <label class="fieldlabels" for="ket_air">Instalasi Air Bersih (Estimasi): *</label> 
    <input type="text" class="form-control-sm" id="ket_air" name="ket_air" placeholder="Instalasi Air Bersih (Estimasi)" required/> 
</div>
<!--Drainase Limbah-->
<div class="col-md-12">
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">Drainase Limbah</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <label class="fieldlabels" for="v_drainase">Volume Komponen M1(Meter Lari): *</label> 
                    <input type="number" min="0" max="20" class="form-control-sm" id="v_drainase" name="v_drainase" placeholder="Volume Drainase" required/> 
                    <label class="fieldlabels" for="drainase_tr">Drainase Tidak Rusak: *</label> 
                    <input type="number" min="0" max="10" class="form-control-sm" id="drainase_tr" name="drainase_tr" placeholder="Drainase Tidak Rusak" required/> 
                    <label class="fieldlabels" for="drainase_rsr">Drainase Rusak Sangat Ringan: *</label> 
                    <input type="number" min="0" max="10" class="form-control-sm" id="drainase_rsr" name="drainase_rsr" placeholder="Drainase Rusak Sangat Ringan" required/> 
                    <label class="fieldlabels" for="drainase_rr">Drainase Rusak Ringan: *</label> 
                    <input type="number" min="0" max="10" class="form-control-sm" id="drainase_rr" name="drainase_rr" placeholder="Drainase Rusak Ringan" required/> 
                </div>
                <div class="col-md-6">
                    <label class="fieldlabels" for="drainase_rs">Drainase Rusak Sedang: *</label> 
                    <input type="number" min="0" max="10" class="form-control-sm" id="drainase_rs" name="drainase_rs" placeholder="Drainase Rusak Sedang" required/> 
                    <label class="fieldlabels" for="drainase_rb">Drainase Rusak Berat: *</label> 
                    <input type="number" min="0" max="10" class="form-control-sm" id="drainase_rb" name="drainase_rb" placeholder="Drainase Rusak Berat" required/> 
                    <label class="fieldlabels" for="drainase_rsb">Drainase Rusak Sangat Berat: *</label> 
                    <input type="number" min="0" max="10" class="form-control-sm" id="drainase_rsb" name="drainase_rsb" placeholder="Drainase Rusak Sangat Berat" required/> 
                    <label class="fieldlabels" for="drainase_kts">Komponen Drainase Tidak Sesuai: *</label> 
                    <input type="number" min="0" max="10" class="form-control-sm" id="drainase_kts" name="drainase_kts" placeholder="Komponen Drainase Tidak Sesuai" required/> 
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Drainase Limbah-->