<div class="col-7">
    <h2 class="fs-title">Informasi Utilitas:</h2>
</div>
<div class="col-5">
    <h2 class="steps">Step 4 - 5</h2>
</div>
<div class="col-md-12 mb-3">
    <label class="fieldlabels" for="vk_listrik">Volume Kerusakan Instalasi Listrik (Estimasi): *</label> 
    <select name="vk_listrik" id="vk_listrik" class="form-control form-control-sm">
        <option value="0">Pilih</option>
        <option value="0.00">Jaringan listrik dalam kondisi baik</option>
        <option value="0.20">Sebagian kecil komponen dari panel-panel LP rusak, ada sedikit jalur kabel instalasi shortage, sebagian kecil armature rusak ringan, sehingga biaya perbaikan kurang dari 10% dari biaya instalasi baru</option>
        <option value="0.35">Beberapa komponen dari panel-panel LP rusak, sebagian kecil jalur kabel instalasi shortage, sehingga armature rusak ringan, sehingga biaya perbaikan 10-25% dari biaya instalasi baru</option>
        <option value="0.50">Beberapa komponen dari panel-panel LP rusak, sebagian kecil jalur kabel instalasi shortage, sehingga armature rusak berat dan ringan, sehingga biaya perbaikan 25-50% dari biaya instalasi baru</option>
        <option value="0.70">Sebagian besar komponen panel-panel LP rusak, sebagian besar kabel instalasi shortage, sebagian besar armature rusak, sehingga biaya perbaikan 50-65 % dari instalasi baru</option>
        <option value="0.85">Sebagian besar komponen panel-panel LP rusak, sebagian besar kabel instalasi shortage, seluruh armature rusak berat, sehingga biaya perbaikan lebih dari 65 % dari instalasi baru</option>
        <option value="1.00">Material, dimensi, dan konstruksi jaringan listrik diindikasi tidak sesuai dengan persyaratan teknis (merujuk pada Rencana Teknis apabila ada, Petunjuk Teknis, dan/atau SNI)</option>
    </select>
    <label class="fieldlabels" for="vk_air">Volume Kerusakan Instalasi Air Bersih (Estimasi): *</label> 
    <select name="vk_air" id="vk_air" class="form-control form-control-sm">
        <option value="0">Pilih</option>
        <option value="0.00">Sistem penyediaan air dalam kondisi baik</option>
        <option value="0.20">Kebocoran pipa terbatas ditempat yang terlihat atau mudah dicapai, keran-keran kecil rusak, sehingga biaya perbaikan kurang dari 10% biaya instalasi baru</option>
        <option value="0.35">Bagian-bagian kecil pemipaan bocor, motor pompa terbakar, keran-keran kecil rusak, sehingga biaya perbaikan antara 10-25% dari biaya instalasi baru</option>
        <option value="0.50">Pompa, motor, pipa, dan keran rusak apabila diganti atau diperbaiki memerlukan biaya antara 25-50% dari biaya instalasi baru</option>
        <option value="0.70">Sebagian besar pompa, sebagian besar motor terbakar, pipa utama bocor namun ditempat terbuka, beberapa keran tidak berfungsi, sehingga biaya perbaikan 50-65% dari biaya instalasi baru</option>
        <option value="0.85">Pompa–pompa rusak total, motor terbakar, di banyak tempat terbuka dan tutup pipa-pipa bocor keran-keran tidak berfungsi, sehingga perbaikan instalasi perlu menyeluruh, dengan perkiraan biaya lebih dari 65% dari biaya instalasi baru</option>
        <option value="1.00">Material, dimensi, dan konstruksi sistem penyediaan air diindikasi tidak sesuai dengan persyaratan teknis (merujuk pada Rencana Teknis apabila ada, Petunjuk Teknis, dan/atau SNI)</option>
    </select>
</div>
<!--Drainase Limbah-->
<div class="col-md-12">
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">Drainase Limbah</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <label class="fieldlabels" for="v_drainase">Volume Komponen M1(Meter Lari): *</label> 
                    <input type="number" min="1" max="20" class="form-control form-control-sm" id="v_drainase" name="v_drainase" placeholder="Volume Drainase" required/> 
                    <label class="fieldlabels" for="drainase_tr">Drainase Tidak Rusak: *</label> 
                    <input type="number" min="0" max="10" class="form-control form-control-sm" id="drainase_tr" name="drainase_tr" placeholder="Drainase Tidak Rusak" required/> 
                    <label class="fieldlabels" for="drainase_rsr">Drainase Rusak Sangat Ringan: *</label> 
                    <input type="number" min="0" max="10" class="form-control form-control-sm" id="drainase_rsr" name="drainase_rsr" placeholder="Drainase Rusak Sangat Ringan" required/> 
                    <label class="fieldlabels" for="drainase_rr">Drainase Rusak Ringan: *</label> 
                    <input type="number" min="0" max="10" class="form-control form-control-sm" id="drainase_rr" name="drainase_rr" placeholder="Drainase Rusak Ringan" required/> 
                </div>
                <div class="col-md-6">
                    <label class="fieldlabels" for="drainase_rs">Drainase Rusak Sedang: *</label> 
                    <input type="number" min="0" max="10" class="form-control form-control-sm" id="drainase_rs" name="drainase_rs" placeholder="Drainase Rusak Sedang" required/> 
                    <label class="fieldlabels" for="drainase_rb">Drainase Rusak Berat: *</label> 
                    <input type="number" min="0" max="10" class="form-control form-control-sm" id="drainase_rb" name="drainase_rb" placeholder="Drainase Rusak Berat" required/> 
                    <label class="fieldlabels" for="drainase_rsb">Drainase Rusak Sangat Berat: *</label> 
                    <input type="number" min="0" max="10" class="form-control form-control-sm" id="drainase_rsb" name="drainase_rsb" placeholder="Drainase Rusak Sangat Berat" required/> 
                    <label class="fieldlabels" for="drainase_kts">Komponen Drainase Tidak Sesuai: *</label> 
                    <input type="number" min="0" max="10" class="form-control form-control-sm" id="drainase_kts" name="drainase_kts" placeholder="Komponen Drainase Tidak Sesuai" required/> 
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Drainase Limbah-->