{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PTKR | Pemetaan Tingkat Kerusakan Rumah{% endblock title %}</title>
    <link rel="shortcut icon" href="{% static './dist/img/favicon.ico' %}" type="image/x-icon">
    {% include "./include/styles.html" %}
</head>
<body class="layout-fixed sidebar-mini sidebar-collapse" style="height: auto;">
    <div class="wrapper">
        <!--navbar-->
        {% comment %} {% include "./include/navbar.html" %} {% endcomment %}

        <!--main sidebar-->
        {% include "./include/sidebar.html" %}
        
        <!--main content-->
        <div class="content-wrapper">
            {% block content %}{% endblock content %}
        </div>

        <!--control sidebar-->
        {% include "./include/control-sidebar.html" %}
    </div>
    <!--file js-->
    {% include "./include/scripts.html" %}

</body>
</html>
{% block script %}{% endblock script %}