{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PTKR | Pemetaan Tingkat Kerusakan Rumah{% endblock title %}</title>
    <link rel="shortcut icon" href="{% static './dist/img/favicon.ico' %}" type="image/x-icon">
    {% include "./include/styles.html" %}
</head>
<body class="hold-transition layout-fixed layout-navbar-fixed layout-top-nav">
    <div class="wrapper">
        <!--navbar-->
        {% include "./include/navbar.html" %}

        <!--main sidebar-->
        {% comment %} {% include "./include/sidebar.html" %} {% endcomment %}
        
        <!--main content-->
        <div class="content-wrapper">
            {% block content %}{% endblock content %}
        </div>

        <!--control sidebar-->
        {% include "./include/control-sidebar.html" %}
    </div>
    <!--file js-->
    {% include "./include/scripts.html" %}

    <!--Modals & Alerts-->
    {% include "modals&alerts/sign-in.html" %}
    {% include "modals&alerts/alerts.html" %}

    <!--canvas-->
    {% include "canvas/canvas.html" %}

</body>
</html>

<!--OffCanvas Event-->
<script>
    $(document).ready(function () {
        $('#toggleCanvas').on('click', function () {
        $('#offCanvas').toggleClass('show');
        });

        $('#closeCanvas').on('click', function () {
        $('#offCanvas').removeClass('show');
        });
    });
</script>

<script>
    $(document).ready(function () {
        // Handle collapse/expand card functionality
        $('.toggle-card').on('click', function () {
        var $this = $(this);
        var $card = $this.closest('.card');
        var $icon = $this.find('i');

        // Toggle card-body visibility and change icon
        $card.find('.card-body').slideToggle(200, function () {
            // After slide toggle is complete, toggle class
            if ($card.hasClass('collapsed-card')) {
            $card.removeClass('collapsed-card');
            $icon.removeClass('fa-angle-left').addClass('fa-angle-down');
            } else {
            $card.addClass('collapsed-card');
            $icon.removeClass('fa-angle-down').addClass('fa-angle-left');
            }
        });
        });
    });
</script>

{% block script %}{% endblock script %}