{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PTKR | Pemetaan Tingkat Kerusakan Rumah{% endblock title %}</title>
    <link rel="shortcut icon" href="{% static './dist/img/favicon.ico' %}" type="image/x-icon">
    {% include "./include/styles.html" %}
</head>
<body class="hold-transition layout-fixed layout-navbar-fixed layout-top-nav">
    <div class="wrapper">
        <!--navbar-->
        {% include "./include/navbar.html" %}
        
        <!--main content-->
        <div class="content-wrapper">
            {% block content %}{% endblock content %}
        </div>

    </div>
    <!--file js-->
    {% include "./include/scripts.html" %}

    <!--Modals & Alerts-->
    {% include "modals&alerts/sign-in.html" %}
    {% include "modals&alerts/alerts.html" %}
    {% include "modals&alerts/bantuan.html" %}
    {% include "modals&alerts/preview-image.html" %}

    <!--offcanvas-->
    {% include "offcanvas/offcanvas.html" %}

</body>
</html>

<!--OffCanvas Event-->
<script>
    $(document).ready(function () {
        $('#toggleCanvas').on('click', function () {
        $('#offCanvas').toggleClass('show');
        });

        $('#closeCanvas').on('click', function () {
        $('#offCanvas').removeClass('show');
        });
    });
</script>

<!--collapsed-card-->
<script>
    $(document).ready(function () {
        // Handle collapse/expand card functionality
        $('.toggle-card').on('click', function () {
        var $this = $(this);
        var $card = $this.closest('.card');
        var $icon = $this.find('i');

        // Toggle card-body visibility and change icon
        $card.find('.card-body').slideToggle(200, function () {
            // After slide toggle is complete, toggle class
            if ($card.hasClass('collapsed-card')) {
            $card.removeClass('collapsed-card');
            $icon.removeClass('fa-angle-left').addClass('fa-angle-down');
            } else {
            $card.addClass('collapsed-card');
            $icon.removeClass('fa-angle-down').addClass('fa-angle-left');
            }
        });
        });
    });
</script>

<!--Get prewview image-->
<script>
    $(document).ready(function() {
        // Menambahkan event listener untuk setiap gambar dengan kelas 'preview-image'
        $('.preview-image').on('click', function() {
            // Dapatkan sumber gambar yang diklik
            var imgSrc = $(this).attr('src');
            
            // Dapatkan nama file gambar dari src (mengambil teks setelah '/' terakhir)
            var imgName = imgSrc.substring(imgSrc.lastIndexOf('/') + 1);

            // Atau, Anda bisa menggunakan atribut alt sebagai caption
            var imgCaption = $(this).attr('alt');

            // Setel sumber gambar ke modal preview
            $('#imagePreview').attr('src', imgSrc);
            
            // Setel teks caption di modal preview
            $('#imageCaption').text(imgCaption);

            // Buka modal preview
            $('#imagePreviewModal').modal('show');
        });
    });
</script>

<!--Live Search pada modals-->
<script>
    $(document).ready(function() {
        // Event listener untuk input pencarian
        $('#searchInput').on('keyup', function() {
            // Ambil nilai input dan konversi ke huruf kecil
            var value = $(this).val().toLowerCase();
            
            // Filter elemen yang memiliki kelas 'searchable'
            $('.searchable').filter(function() {
                // Periksa teks dari elemen atau atribut 'alt' jika itu adalah gambar
                if ($(this).is('img')) {
                    $(this).toggle($(this).attr('alt').toLowerCase().indexOf(value) > -1);
                } else {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                }
            });
        });

        // Mencegah form submit default
        $('#searchForm').on('submit', function(event) {
            event.preventDefault();
        });
    });
</script>


<!--Select2-->
<script>
    // Inisialisasi Select2 pada elemen dengan kelas .select2
    $('.select2').select2();
</script>

{% block script %}{% endblock script %}