{% extends "base.html" %}

{% load static %}

{% block content %}
<div id="map">  
	<!-- map coordinate -->
	<div class="leaflet-control map-coordinate">
		<div class="coordinate"></div>
	</div>

	<!-- zoom to layer -->
	<div class="leaflet-control zoom-to-layer">
		<svg xmlns="http://www.w3.org/2000/svg" width="1.7em" height="1.7em" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
		<path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z" />
		</svg>
	</div>
</div>
{% endblock content %}

{% block script %}
<!--Leaflet code-->
<script src="{% static './dist/main.js' %}"></script>
<script src="{% static './dist/web-GIS.js' %}"></script>


<script>
	var pointGroup = L.featureGroup()
	
	// render point
	{% for p in point %}
		var lat = {{p.lat}}
        var lng = {{p.long}}
        var point = L.marker([lat, lng]).bindPopup(`<h3>{{p.pemilik_rumah}}</h3><p>{{p.tingkat_kerusakan}}</p>`)
		point.addTo(map)
	{% endfor %}

	// map layers
	var overLayMaps = {};
	// render shp files
	{% for s in shp %}
		var {{s.name}} = L.tileLayer.wms('http://localhost:8080/geoserver/wms', {
            layers: '{{s.name}}',
			transparent: true,
            format: 'image/png',
        }).addTo(map)

        overLayMaps['{{s.name}}'] = {{s.name}}
	{% endfor %}
	
	L.control.layers(baseMaps, overLayMaps, {
		collapsed: true,
		position: 'bottomleft', // default topright    
	}).addTo(map);
</script>
{% endblock script %}