{% extends "base.html" %}

{% load static %}

{% block title %}PTKR | Detail Bencana{% endblock title %}

{% block content %}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1 class="m-0">Rumah Terdampak Berdasarkan Kejadian Bencana</h1>
        </div><!-- /.col -->
    </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-outline card-info">
                    <div class="card-body">
                        <table id="tbBencana" class="table table-striped mb-3">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Nama Pemilik</th>
                                    <th>Alamat</th>
                                    <th>Tingkat Kerusakan</th>
                                    <th>Foto</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for r in rumah_terdampak %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{r.pemilik_rumah}}</td>
                                    <td>Kel. {{r.kelurahan|title}}, Dk. {{r.dusun}}, RW {{r.rw}} RT {{r.rt}} </td>
                                    <td>{{r.tingkat_kerusakan}}</td>
                                    <td>
                                        <img class="img-fluid preview-image pe-auto" style="width: 50px;" src="{{r.foto.url}}" alt="{{r.tingkat_kerusakan}}">
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div id="map" style="width: 100%; height: 400px;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block script %}
<script>
    var map = L.map('map', {zoomControl: false}).setView([{{first.lat}}, {{first.long}}], 16);

	// custom gaya marker
	var iconRingan = L.icon({
		iconUrl: '{% static './dist/img/ringan.png' %}',
		iconSize: [44, 44],
		iconAnchor: [22, 44],
		tooltipAnchor: [22, -20],
		popupAnchor: [0, -20]
	})
	var iconSedang = L.icon({
		iconUrl: '{% static './dist/img/sedang.png' %}',
		iconSize: [44, 44],
		iconAnchor: [22, 44],
		tooltipAnchor: [22, -20],
		popupAnchor: [0, -20]
	})
	var iconBerat = L.icon({
		iconUrl: '{% static './dist/img/berat.png' %}',
		iconSize: [44, 44],
		iconAnchor: [22, 44],
		tooltipAnchor: [22, -20],
		popupAnchor: [0, -20]
	})
	
	// render point
	{% for r in rumah_terdampak %}
		var lat = {{r.lat}}
		var lng = {{r.long}}

		// Pilih gaya marker berdasarkan tingkat kerusakan
		var markerStyle;
		if ("{{ r.tingkat_kerusakan }}" === "Rusak Ringan") {
			markerStyle = iconRingan;
		} else if ("{{ r.tingkat_kerusakan }}" === "Rusak Sedang") {
			markerStyle = iconSedang;
		} else {
			markerStyle = iconBerat;
		}
		
        var point = L.marker([lat, lng], {icon: markerStyle})
			.bindPopup(`<h3>{{r.pemilik_rumah}}</h3>`)
			.bindTooltip('{{r.tingkat_kerusakan}}')
		point.addTo(map)
	{% endfor %}

    // lapisan peta
    var osm = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
</script>

<script>
    $('#tbBencana').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": true,
        "responsive": true,
    });
</script>
{% endblock script %}