{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Leaflet Geoproject</title>
    <link rel="stylesheet" href="{% static './dist/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static './lib/leaflet/leaflet.css' %}" />
    <link rel="stylesheet" href="{% static './lib/leafletmeasure/leaflet-measure.css' %}" />
    <link rel="stylesheet" href="{% static './lib/leafletmarkercluster/MarkerCluster.css' %}" />
    <link rel="stylesheet" href="{% static './lib/leafletmarkercluster/MarkerCluster.Default.css' %}" />
    <link rel="stylesheet" href="{% static './lib/leafletcontrolgeocoder/Control.Geocoder.css' %}" />
    <link rel="stylesheet" href="{% static './dist/style.css' %}" />
  </head>
  <body>
    <!-- nav bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
      <a class="navbar-brand" href="#">Basic Web-GIS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Upload data</a>
          </li>
        </ul>
      </div>
    </nav>

    <div id="map">
      <!-- map coordinate -->
      <div class="leaflet-control map-coordinate">
        <div class="coordinate"></div>
      </div>

      <!-- full browser -->
      <div class="leaflet-control full-screen" onclick="fullScreenView()">
        <svg xmlns="http://www.w3.org/2000/svg" width="1.7em" height="1.7em" fill="currentColor" class="bi bi-arrows-fullscreen" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707m4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707m0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707m-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707" />
        </svg>
      </div>

      <!-- zoom to layer -->
      <div class="leaflet-control zoom-to-layer">
        <svg xmlns="http://www.w3.org/2000/svg" width="1.7em" height="1.7em" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
          <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z" />
        </svg>
      </div>
    </div>
  </body>
</html>

<script src="{% static './lib/leaflet/leaflet.js' %}"></script>
<script src="{% static './lib/jquery/jquery-3.7.1.min.js' %}"></script>
<script src="{% static './lib/leafletbrowserprint/leaflet.browser.print.min.js' %}"></script>
<script src="{% static './lib/leafletmeasure/leaflet-measure.js' %}"></script>
<script src="{% static './lib/leafletmarkercluster/leaflet.markercluster.js' %}"></script>
<script src="{% static './lib/leafletcontrolgeocoder/Control.Geocoder.js' %}"></script>
<script src="{% static './data/test.js' %}"></script>
<script src="{% static './dist/main.js' %}"></script>
<script src="{% static './dist/web-GIS.js' %}"></script>
