{% extends "base.html" %}

{% block content %}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1 class="m-0">Statistik Bencana</h1>
        </div><!-- /.col -->
    </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header border-0">
                        <h3 class="card-title">Statistik Kerusakan Rumah Berdasarkan Kejadian Bencana</h3>
                    </div>
                    <div class="card-body" style="position: relative; height: 50vh;">
                        <canvas id="rumahTerdampakChart"></canvas>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col-md-6 -->

            {% comment %} <div class="col-md-6">
                <div class="card">
                    <div class="card-header border-0">
                        <h3 class="card-title">Statistik Kejadian Bencana Berdasarkan Tanggal Kejadian</h3>
                    </div>
                    <div class="card-body" style="position: relative; height: 50vh;">
                        <canvas id="bencanaChart"></canvas>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col-md-6 --> {% endcomment %}
            
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header border-0">
                        <h3 class="card-title">Statistik Kejadian Bencana Per Kelurahan</h3>
                    </div>
                    <div class="card-body" style="position: relative; height: 50vh;">
                        <canvas id="chartKejadianBencanaPerKelurahan"></canvas>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col-md-6 -->
            
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header border-0">
                        <h3 class="card-title">Statistik Kejadian Bencana Bulanan</h3>
                    </div>
                    <div class="card-body" style="position: relative; height: 50vh;">
                        <canvas id="chartKejadianBencanaBulanan"></canvas>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col-md-6 -->
            
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header border-0">
                        <h3 class="card-title">Statistik Kejadian Bencana Tahunan</h3>
                    </div>
                    <div class="card-body" style="position: relative; height: 50vh;">
                        <canvas id="chartKejadianBencanaTahunan"></canvas>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col-md-6 -->

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs" id="custom-content-above-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="custom-content-above-all-data-tab" data-toggle="pill" href="#custom-content-above-all-data" role="tab" aria-controls="custom-content-above-all-data" aria-selected="true">Tampilkan Semua Data</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="custom-content-above-disaster-tab" data-toggle="pill" href="#custom-content-above-disaster" role="tab" aria-controls="custom-content-above-disaster" aria-selected="false">Tampilkan Data Berdasarkan Bencana</a>
                        </li>
                        </ul>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content" id="custom-content-above-tabContent">
                            <!--Semua data-->
                            <div class="tab-pane fade show active" id="custom-content-above-all-data" role="tabpanel" aria-labelledby="custom-content-above-all-data-tab">
                                <table id="mytable1" class="table table-sm table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Pemilik Rumah</th>
                                            <th>Tipe Bangunan Rumah</th>
                                            <th>Alamat</th>
                                            <th>Bencana</th>
                                            <th>Tingkat Kerusakan</th>
                                            <th>Aksi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for lr in list_semua_data %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{lr.pemilik_rumah}}</td>
                                            <td>{{lr.tipe_bangunan}}</td>
                                            <td>Kelurahan {{lr.kelurahan|lower|capfirst}} Kecamatan {{lr.kecamatan|lower|capfirst}} {{lr.kota|lower|capfirst}}</td>
                                            <td>{{lr.bencana}}</td>
                                            <td>{{lr.tingkat_kerusakan}}</td>
                                            <td>
                                                <a href="{% url 'ptkr:detail-rumah' lr.id %}" class="btn btn-sm btn-outline-info">Detail</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!--Data Berdasarkan Bencana-->
                            <div class="tab-pane fade" id="custom-content-above-disaster" role="tabpanel" aria-labelledby="custom-content-above-disaster-tab">
                                <table id="mytable2" class="table table-sm table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Bencana & Tanggal Kejadian</th>
                                            <th>Daerah Terdampak</th>
                                            <th>Jumlah Rumah Terdampak</th>
                                            <th>Aksi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for lpb in list_per_bencana %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{lpb.bencana.jenis_bencana}} pada {{lpb.tanggal_terjadi|date:'d F Y'}} </td>
                                            <td>{{lpb.daerah|title}}</td>
                                            <td>Ringan: {{lpb.ringan}}, Sedang: {{lpb.sedang}}, Berat: {{lpb.berat}}</td>
                                            <td>
                                                <a href="{% url 'ptkr:detail-bencana' lpb.id %}" class="btn btn-sm btn-outline-primary btn-sm">Detail</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content -->
{% endblock content %}

{% block script %}
<script>
    // Data chart yang dikirim dari view untuk data kerusakan rumah akibat bencana
    const chartData = JSON.parse('{{ chart_data_kerusakan_rumah|escapejs }}');

    const ctx = document.getElementById('rumahTerdampakChart').getContext('2d');
    const rumahTerdampakChart = new Chart(ctx, {
        type: 'bar',
        data: chartData,
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                x: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Jenis Bencana',
                    }
                },
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Jumlah Rumah Terdampak'
                    }
                }
            },
            plugins: {
                tooltip: {
                    callbacks: {
                        label: function(tooltipItem) {
                            return tooltipItem.dataset.label + ': ' + tooltipItem.raw + ' rumah';
                        }
                    }
                }
            }
        }
    });
    
    // Data chart yang dikirim dari view untuk kejadian bencana per tanggal terjadi
    {% comment %} const chartDataKejadianBencana = JSON.parse('{{ chart_data_kejadian_bencana|escapejs }}');
    const ctxKejadianBencana = document.getElementById('bencanaChart').getContext('2d');
    const kejadianBencanaChart = new Chart(ctxKejadianBencana, {
        type: 'bar',
        data: chartDataKejadianBencana,
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                x: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Tanggal Kejadian'
                    }
                },
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Jumlah Kejadian'
                    }
                }
            },
            plugins: {
                tooltip: {
                    callbacks: {
                        label: function(tooltipItem) {
                            return tooltipItem.dataset.label + ': ' + tooltipItem.raw + ' kejadian';
                        }
                    }
                }
            },
        }
    }); {% endcomment %}

    // bar chart untuk kejadian bencana per kelurahan
    const chartDataKelurahan = JSON.parse('{{ chart_data_bencana_kelurahan|escapejs }}');
    const chartKejadianBencanaPerKelurahan = document.getElementById('chartKejadianBencanaPerKelurahan').getContext('2d');
    const chartKejadianBencanaPerKelurahanChart = new Chart(chartKejadianBencanaPerKelurahan, {
        type: 'bar',
        data: chartDataKelurahan,
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    position: 'top',
                },
                tooltip: {
                    callbacks: {
                        label: function(tooltipItem) {
                            const kelurahan = tooltipItem.label;
                            const jenisBencana = chartDataKelurahan.jenis_bencana[kelurahan].join(', ');
                            return `${kelurahan}: ${tooltipItem.raw} kejadian (${jenisBencana})`;
                        }
                    }
                }
            },
            scales: {
                x: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Kelurahan'
                    }
                },
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Jumlah Bencana'
                    }
                }
            }
        }
    });

    // bar chart data kejadian bencana Bulanan
    const chartDataBulanan = JSON.parse('{{ chart_data_bulanan|escapejs }}');
    const chartKejadianBencanaBulanan = document.getElementById('chartKejadianBencanaBulanan').getContext('2d');
    const chartKejadianBencanaBulananChart = new Chart(chartKejadianBencanaBulanan, {
        type: 'bar',
        data: chartDataBulanan,
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                x: {
                    type: 'time',
                    time: {
                        unit: 'month',
                        displayFormats: {
                            month: 'yyyy-MM'
                        }
                    },
                    title: {
                        display: true,
                        text: 'Kejadian Bencana Bulanan'
                    }
                },
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Jumlah Kejadian'
                    }
                }
            }
        }
    });

    // chart data kejadian bencana tahunan
    const chartDataTahunan = JSON.parse('{{ chart_data_tahunan|escapejs }}');
    const chartKejadianBencanaTahunan = document.getElementById('chartKejadianBencanaTahunan').getContext('2d');

    // Ubah data untuk bar chart
    const barChartData = {
        labels: chartDataTahunan.labels,
        datasets: [{
            label: 'Jumlah Kejadian Bencana',
            data: chartDataTahunan.datasets[0].data,
            backgroundColor: 'rgba(75, 192, 192, 0.5)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1
        }]
    };

    const chartKejadianBencanaTahunanChart = new Chart(chartKejadianBencanaTahunan, {
        type: 'bar',
        data: barChartData,
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    position: 'top',
                },
                tooltip: {
                    callbacks: {
                        label: function(context) {
                            const yearIndex = context.dataIndex;
                            const total = context.dataset.data[yearIndex];
                            const jenisData = chartDataTahunan.datasets[0].tooltip_data[yearIndex];
                            
                            let tooltipText = 'Jumlah Total: ' + total + '\n';
                            for (const [jenis, jumlah] of Object.entries(jenisData)) {
                                tooltipText += `${jenis}: ${jumlah}\n`;
                            }
                            return tooltipText;
                        }
                    }
                }
            },
            scales: {
                x: {
                    beginAtZero: true
                },
                y: {
                    beginAtZero: true
                }
            }
        }
    });

</script>

<script>
    // datatables
    {% comment %} $('#mytable').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": true,
        "responsive": true,
    }) {% endcomment %}

    // Inisialisasi DataTables untuk tabel pertama saat halaman dimuat
    $(document).ready(function() {
        $('#mytable1').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": true,
            "responsive": true,
        });

        // Inisialisasi DataTables untuk tabel kedua hanya saat tab kedua diaktifkan
        $('a[data-toggle="pill"]').on('shown.bs.tab', function (e) {
            var target = $(e.target).attr("href"); // Mendapatkan ID dari tab yang aktif
            if(target === '#custom-content-above-disaster') {
                if (!$.fn.DataTable.isDataTable('#mytable2')) {
                    $('#mytable2').DataTable({
                        "paging": true,
                        "lengthChange": false,
                        "searching": true,
                        "ordering": true,
                        "info": true,
                        "autoWidth": true,
                        "responsive": true,
                    });
                }
            }
        });
    });
</script>
{% endblock script %}