{% extends "base.html" %}

{% block content %}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1 class="m-0">Statistik Bencana</h1>
        </div><!-- /.col -->
    </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="d-flex justify-content-between">
                            <h3 class="card-title">Statistik Tingkat Kerusakan</h3>
                            <a href="javascript:void(0);">View Report</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex">
                            <p class="d-flex flex-column">
                            <span class="text-bold text-lg">820</span>
                            <span>Visitors Over Time</span>
                            </p>
                            <p class="ml-auto d-flex flex-column text-right">
                            <span class="text-success">
                                <i class="fas fa-arrow-up"></i> 12.5%
                            </span>
                            <span class="text-muted">Since last week</span>
                            </p>
                        </div>
                        <!-- /.d-flex -->
                        <div class="position-relative mb-4">
                            <canvas id="visitors-chart" height="200"></canvas>
                        </div>
                        <div class="d-flex flex-row justify-content-end">
                            <span class="mr-2">
                            <i class="fas fa-square text-primary"></i> Ringan
                            </span>
                            
                            <span class="mr-2">
                            <i class="fas fa-square text-warning"></i> Sedang
                            </span>

                            <span>
                            <i class="fas fa-square text-danger"></i> Berat
                            </span>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col-md-6 -->

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="d-flex justify-content-between">
                            <h3 class="card-title">Statistik Bencana</h3>
                            <a href="javascript:void(0);">View Report</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex">
                            <p class="d-flex flex-column">
                            <span class="text-bold text-lg">$18,230.00</span>
                            <span>Sales Over Time</span>
                            </p>
                            <p class="ml-auto d-flex flex-column text-right">
                            <span class="text-success">
                                <i class="fas fa-arrow-up"></i> 33.1%
                            </span>
                            <span class="text-muted">Since last month</span>
                            </p>
                        </div>
                        <!-- /.d-flex -->

                        <div class="position-relative mb-4">
                            <canvas id="sales-chart" height="200"></canvas>
                        </div>

                        <div class="d-flex flex-row justify-content-end">
                            <span class="mr-2">
                            <i class="fas fa-square text-primary"></i> This year
                            </span>

                            <span>
                            <i class="fas fa-square text-gray"></i> Last year
                            </span>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col-md-6 -->

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Data Rumah Terdampak Bencana</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="mytable" class="table table-sm table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Pemilik Rumah</th>
                                <th>Tipe Bangunan Rumah</th>
                                <th>Alamat</th>
                                <th>Bencana</th>
                                <th>Tingkat Kerusakan</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for lr in list_rumah %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{lr.pemilik_rumah}}</td>
                                <td>{{lr.tipe_bangunan}}</td>
                                <td>{{lr.kota}} Kecamatan {{lr.kecamatan}} kelurahan {{lr.kelurahan}}</td>
                                <td>{{lr.bencana}}</td>
                                <td>{{lr.tingkat_kerusakan}}</td>
                                <td>
                                    <a href="{% url 'ptkr:detail' lr.id %}" class="btn btn-sm btn-outline-info">Detail</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content -->
{% endblock content %}

{% block script %}
<script>
    $('#mytable').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": true,
        "responsive": true,
    })
</script>
{% endblock script %}