{% extends "base.html" %}

{% block content %}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1 class="m-0">Statistik Bencana</h1>
        </div><!-- /.col -->
    </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header border-0">
                        <h3 class="card-title">Statistik Kerusakan Rumah</h3>
                    </div>
                    <div class="card-body">
                        <canvas id="rumahTerdampakChart"></canvas>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col-md-6 -->

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header border-0">
                        <h3 class="card-title">Statistik Kejadian Bencana</h3>
                    </div>
                    <div class="card-body">
                        <canvas id="bencanaChart"></canvas>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col-md-6 -->

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Data Rumah Terdampak Bencana</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="mytable" class="table table-sm table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Pemilik Rumah</th>
                                <th>Tipe Bangunan Rumah</th>
                                <th>Alamat</th>
                                <th>Bencana</th>
                                <th>Tingkat Kerusakan</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for lr in list_rumah %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{lr.pemilik_rumah}}</td>
                                <td>{{lr.tipe_bangunan}}</td>
                                <td>{{lr.kota}} Kecamatan {{lr.kecamatan}} kelurahan {{lr.kelurahan}}</td>
                                <td>{{lr.bencana}}</td>
                                <td>{{lr.tingkat_kerusakan}}</td>
                                <td>
                                    <a href="{% url 'ptkr:detail' lr.id %}" class="btn btn-sm btn-outline-info">Detail</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content -->
{% endblock content %}

{% block script %}
<script>
    // Data chart yang dikirim dari view
    const chartData = JSON.parse('{{ chart_data_kerusakan_rumah|escapejs }}');

    const ctx = document.getElementById('rumahTerdampakChart').getContext('2d');
    const rumahTerdampakChart = new Chart(ctx, {
        type: 'bar',
        data: chartData,
        options: {
            responsive: true,
            scales: {
                x: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Jenis Bencana',
                    }
                },
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Jumlah Rumah Terdampak'
                    }
                }
            },
            plugins: {
                tooltip: {
                    callbacks: {
                        label: function(tooltipItem) {
                            return tooltipItem.dataset.label + ': ' + tooltipItem.raw + ' rumah';
                        }
                    }
                }
            }
        }
    });
    
    // Data chart yang dikirim dari view untuk kejadian bencana
    const chartDataKejadianBencana = JSON.parse('{{ chart_data_kejadian_bencana|escapejs }}');
    const ctxKejadianBencana = document.getElementById('bencanaChart').getContext('2d');
    const kejadianBencanaChart = new Chart(ctxKejadianBencana, {
        type: 'bar',
        data: chartDataKejadianBencana,
        options: {
            responsive: true,
            scales: {
                x: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Tanggal Kejadian'
                    }
                },
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Jumlah Kejadian'
                    }
                }
            },
            plugins: {
                tooltip: {
                    callbacks: {
                        label: function(tooltipItem) {
                            return tooltipItem.dataset.label + ': ' + tooltipItem.raw + ' kejadian';
                        }
                    }
                }
            },
        }
    });
</script>

<script>
    // datatables
    $('#mytable').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": true,
        "responsive": true,
    })
</script>
{% endblock script %}